---
title: "Trump family cryptocurrency involvement"
description: "The tangled web of the Trump family’s cryptocurrency involvement"
page_class: "ftx-contagion"
image: "https://storage.mollywhite.net/trump-family-crypto-projects-sm.png"
image_description: "The tangled web of the Trump family’s cryptocurrency involvement"
image_width: 1000
image_height: 669
path: "/etc/trump-family-crypto-projects"
---

{% extends "layouts/blank.njk" %} {% set pagecss = "ftx-contagion.scss" %} {%
block content %}
<div class="content-box">
  {% include "mini-nav.njk" %}
  <div class="header">
    <h2>Trump family crypto projects</h2>
  </div>

  <div class="graphics-wrapper">
    <div class="trump-family-crypto-projects">
      <iframe
        allowfullscreen
        frameborder="0"
        style="width: 1200px; height: 800px"
        src="https://lucid.app/documents/embedded/d8a540ec-1f27-4d83-b45e-e4523d428298"
        id="trump-family-crypto-projects-iframe"
      ></iframe>
    </div>
  </div>
</div>
{% endblock %}
