<div class="linktree-content">
  <div class="wrapper">
    <h1 class=>Molly White</h1>
    <a class="linktree-link" href="https://www.mollywhite.net/" target="_blank">Website</a>
    <a class="linktree-link" href="https://citationneeded.news/" target="_blank"><i>Citation Needed</i>
      newsletter</a>
    <a class="linktree-link" href="http://web3isgoinggreat.com/" target="_blank">
      <i>Web3 is Going Just Great</i>
    </a>
    <a class="linktree-link" href="https://twitter.com/molly0xFFF" target="_blank">
      Twitter
    </a>
    <a class="linktree-link" href="https://www.youtube.com/@molly0xfff" target="_blank">
      YouTube
    </a>
    <a class="linktree-link" href="https://mollywhite.net/support" target="_blank">Support my work</a>
    <a class="linktree-link" class="linktree-link" href="https://www.mollywhite.net/reading" target="_blank">Reading
      lists</a>
    <a class="linktree-link" href="https://www.mollywhite.net/press" target="_blank">Press coverage</a>
    <a class="linktree-link" href="https://www.mollywhite.net/verify" target="_blank">Verify my identity</a>
    <div class="social-links">
      <a href="https://twitter.com/molly0xFFF" title="Twitter" target="_blank">
        <i class="fab fa-twitter" alt="" aria-hidden="true"></i>
      </a>
      <a href="https://hachyderm.io/@molly0xfff" aria-label="Mastodon" title="Mastodon" target="_blank">
        <i class="fab fa-mastodon" alt="" aria-hidden="true"></i>
      </a>
      <a href="https://bsky.app/profile/molly.wiki" title="Bluesky" target="_blank">
        <i class="fas fa-square" alt="" aria-hidden="true"></i>
      </a>
      <a href="https://www.youtube.com/@molly0xfff" title="YouTube" target="_blank">
        <i class="fab fa-youtube" alt="" aria-hidden="true"></i>
      </a>
      <a href="https://www.tiktok.com/@molly0xfff" title="TikTok" target="_blank">
        <i class="fab fa-tiktok" alt="" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/molly" aria-label="GitHub" title="GitHub" target="_blank">
        <i class="fab fa-github" alt="" aria-hidden="true"></i>
      </a>
      <a href="https://en.wikipedia.org/wiki/User:GorillaWarfare" aria-label="Wikipedia" title="Wikipedia"
        target="_blank">
        <i class="fab fa-wikipedia-w" alt="" aria-hidden="true"></i>
      </a>
      <a href="mailto:molly@mollywhite.net" aria-label="Email" title="Email" target="_blank">
        <i class="fas fa-envelope" alt="" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>