<div class="linktree-content">
  <div class="wrapper">
    <h1 class="h2">Molly White</h1>
    <a class="linktree-link" href="https://www.mollywhite.net/" target="_blank">Website</a>
    <a class="linktree-link" href="https://newsletter.mollywhite.net/" target="_blank">Newsletter</a>
    <a class="linktree-link" href="https://blog.mollywhite.net/blockchain" target="_blank">Essays</a>
    <a class="linktree-link" href="http://web3isgoinggreat.com/" target="_blank">
      <i>Web3 is Going Just Great</i>
    </a>
    <a class="linktree-link" href="https://account.venmo.com/u/MollyWhite" target="_blank">Donate</a>
    <a class="linktree-link" class="linktree-link" href="https://www.mollywhite.net/reading" target="_blank">Reading
      lists</a>
    <a class="linktree-link" href="https://www.mollywhite.net/press" target="_blank">Press</a>
    <a class="linktree-link" href="https://www.mollywhite.net/verify" target="_blank">Identity</a>
    <div class="social-links">
      <a href="https://twitter.com/molly0xFFF" title="Twitter" target="_blank">
        <i class="fab
    fa-twitter" alt="" aria-hidden="true"></i>
      </a>
      <a href="https://hachyderm.io/@molly0xfff" aria-label="Mastodon" title="Mastodon" target="_blank">
        <i
          class="fab fa-mastodon" alt="" aria-hidden="true"></i>
      </a>
    </a>
    <a href="https://github.com/molly" aria-label="GitHub" title="GitHub" target="_blank">
      <i class="fab fa-github"
          alt="" aria-hidden="true"></i>
    </a>
    <a href="https://en.wikipedia.org/wiki/User:GorillaWarfare" aria-label="Wikipedia" title="Wikipedia"
        target="_blank">
      <i class="fab fa-wikipedia-w" alt="" aria-hidden="true"></i>
    </a>
    <a href="mailto:molly@mollywhite.net" aria-label="Email" title="Email" target="_blank">
      <i class="fas fa-envelope"
          alt="" aria-hidden="true"></i>
    </a>
  </div>
</div>