<nav role="nav">
  <div class="logo-image"><img src="/assets/images/molly.jpeg" /></div>
    <ul>
      <li class="nav-header">Work</li>
      <li><a href="https://newsletter.mollywhite.net/">Newsletter</a></li>
      <li><a href="https://blog.mollywhite.net/blockchain/">Essays</a></li>
      <li><a href="https://web3isgoinggreat.com/"><i>Web3 is Going Just Great</i></a></li>
    </ul>
    <ul>
      <li class="nav-header">Other interests</li>
      <li><a href="/reading">Reading lists</a></li>
      <li><a href="/wikipedia-work">Wikipedia writing</a></li>
      <li><a href="/projects">Software</a></li>
    </ul>
    <ul>
      <li class="nav-header">About</li>
      <li><a href="/press">Press</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <ul>
      <li class="nav-header">Social</li>
      <li><a href="https://twitter.com/molly0xFFF">Twitter</a></li>
      <li><a href="https://hachyderm.io/@molly0xfff">Mastodon</a></li>
      <li><a href="/social">Everything else</a></li>
    </ul>
  </ul>
</nav>