<nav role="nav">
  <div class="logo-image">
    <a class="u-url u-uid" href="https://www.mollywhite.net/">
      <picture>
        <source media="(min-width: 769px)" srcset="/assets/images/molly.webp" type="image/webp" />
        <source media="(max-width: 768px)" srcset="/assets/images/molly_horizontal.webp" type="image/webp" />
        <img class="u-photo u-logo" src="/assets/images/molly.webp" alt="A photograph of Molly White sitting at a table in a video studio. She's
          a white woman with long brown hair that's shaved on one side, she has brown eyes, and she's wearing a black and
          white striped shirt and black blazer. There is a colorful cartoon background behind her. She's smiling and looking
          at someone out of frame." />
      </picture>
    </a>
  </div>
  <button id="menu-toggle" class="menu-toggle">Menu</button>
  <div id="nav-links" class="nav-links collapsed">
    <ul class="top-level">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
    <ul>
      <li class="nav-header">Work</li>
      <li>
        <a href="https://citationneeded.news/"><i>Citation Needed</i> newsletter</a>
      </li>
      <li>
        <a href="https://web3isgoinggreat.com/">
          <i>Web3 is Going Just Great</i>
        </a>
      </li>
      <li>
        <a href="https://blog.mollywhite.net/blockchain/">Blockchain essays</a>
      </li>
      <li>
        <a href="/speaking">Speaking</a>
      </li>
      <li>
        <a href="/press">Press</a>
      </li>
      <li>
        <a href="/support">Support my work</a>
      </li>
    </ul>
    <ul>
      <li class="nav-header">Other interests</li>
      <li>
        <a href="/reading">Reading lists</a>
      </li>
      <li>
        <a href="/wikipedia-work">Wikipedia writing</a>
      </li>
      <li>
        <a href="/projects">Software</a>
      </li>
    </ul>
    <ul>
      <li class="nav-header">About</li>
      <li>
        <a href="/resume">Resumé</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="/verify">Identity</a>
      </li>
    </ul>
    <ul>
      <li class="nav-header">Social</li>
      <li>
        <a href="/micro">Microblog</a>
      </li>
      <li>
        <a href="https://twitter.com/molly0xFFF">Twitter</a>
      </li>
      <li>
        <a href="https://hachyderm.io/@molly0xfff">Mastodon</a>
      </li>
      <li>
        <a href="https://www.youtube.com/@molly0xfff">YouTube</a>
      </li>
      <li>
        <a href="/social">Everything else</a>
      </li>
    </ul>
  </div>
</nav>