{% macro socialLink(link) %}
  <li>
    {% if link.custom %}
      {{ link.custom | safe }}
    {% elif link.href and not link.username %}
      <a href="{{link.href}}" class="u-url">{{link.label}}</a>
    {% else %}
      {{link.label}}: 
      {% if link.href %}
        <a href="{{link.href}}" class="u-url">{{link.username}}</a>
      {% else %}
        {{link.username}}
      {% endif %}
      {% if link.private %}
        <sup>
          <a href="#footnote1">[1]</a>
        </sup>
      {% endif %}
    {% endif %}
  </li>
{% endmacro %}