---
title: "Attribution - A Wikipedian explains Wikipedia to Bill Ackman – Molly White"
description: "Attribution for the video 'A Wikipedian explains Wikipedia to Bill Ackman'"
page_class: "attribution"
path: "/attribution/ackman-wikipedia"
---

{% extends "layouts/with-nav.njk" %}
{% block content %}
<h1>Attribution and links</h1>
<h2>"A Wikipedian explains Wikipedia to Bill Ackman"</h2>
<ul>
  <li><a
      href="https://www.forbes.com/sites/anafaguy/2024/01/03/bill-ackman-calls-for-harvard-boards-resignation-after-claudine-gay-ouster/?sh=2916d70b7122">Bill
      Ackman</a> photograph by AP/Manuel Balce Ceneta, via <i>Forbes</i></li>
  <li><a href="https://commons.wikimedia.org/wiki/File:Neri_Oxman_by_Noah_Kalina.jpg">Neri Oxman</a> photograph by Noah
    Kalina via Wikimedia Commons, <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA 4.0</a></li>
  <li><a href="https://www.businessinsider.com/bill-ackman-wife-neri-oxman-mit-dissertation-plagiarism-2024-1">"Bill
      Ackman's celebrity academic wife Neri Oxman's dissertation is marred by plagiarism"
    </a>, <i>Business Insider</i></li>
  <li><a href="https://www.businessinsider.com/neri-oxman-plagiarize-wikipedia-mit-dissertation-2024-1">"Academic
      celebrity Neri Oxman plagiarized from Wikipedia, scholars, a textbook, and other sources without any attribution"
    </a>, <i>Business Insider</i></li>
  <li><a href="https://twitter.com/NeriOxman/status/1742993073078947843">Tweet by Neri Oxman</a></li>
  <li><a
      href="https://www.facebook.com/SpyKidsMovie/photos/the-greatest-espionage-agency-floop-has-ever-created-spy-kids/722076831203817/">Fegan
      Floop</a> still image from <i>Spy Kids</i>, via Facebook</li>
  <li><a href="https://twitter.com/BillAckman/status/1743466850560720914">Bill Ackman tweet</a></li>
  <li><a href="https://www.nytimes.com/2024/01/02/us/harvard-claudine-gay-plagiarism.html">"What to know about the
      latest plagiarism accusations against Claudine Gay."</a>, <i>The New York Times</i></li>
  <li><a href="https://en.wikipedia.org/wiki/Weaving">"Weaving"</a>, Wikipedia page, captured at <a
      href="https://en.wikipedia.org/w/index.php?title=Weaving&oldid=1194045118">revision ID 1194045118</a></li>
  <li><a href="https://wikipedia.ramselehof.de/wikiblame.php">Wikiblame</a> tool</li>
  <li><a href="https://en.wikipedia.org/wiki/Plagiarism_from_Wikipedia">"Plagiarism from Wikipedia"</a>, Wikipedia page,
    captured at <a href="https://en.wikipedia.org/w/index.php?title=Plagiarism_from_Wikipedia&oldid=1193901887">revision
      ID 1193901887</a></li>
  <li><a
      href="https://thehill.com/blogs/pundits-blog/presidential-campaign/28587-mccain-plagiarizes-wikipedia-more-foreign-policy-gaffes/">"McCain
      Plagiarizes Wikipedia — More Foreign Policy Gaffes"</a>, <i>The Hill</i></li>
  <li><a
      href="https://www.nytimes.com/2013/10/31/us/politics/senator-rand-paul-is-accused-of-plagiarizing-his-lines-from-wikipedia.html">"Senator
      Rand Paul Is Accused of Plagiarizing His Lines From Wikipedia"</a>, <i>The New York Times</i></li>
  <li><a href="https://www.rogerebert.com/features/revisiting-gattaca-in-the-age-of-crispr"><i>Gattaca</i></a> still
    image, via Robert Ebert</li>
  <li><a
      href="https://www.washingtonpost.com/lifestyle/style/buzzfeed-fires-benny-johnson-for-plagiarism/2014/07/26/64abe9d2-1484-11e4-98ee-daea85133bc9_story.html">"Buzzfeed
      fires Benny Johnson for plagiarism"</a>, <i>The Washington Post</i></li>
  <li><a
      href="https://www.nytimes.com/2014/07/31/business/media/times-issues-editors-note-in-response-to-plagiarism-charge.html">Times
      Issues Editors’ Note in Response to Plagiarism Charge</a>, <i>The New York Times</i></li>
  <li><a
      href="https://www.chemistryworld.com/news/apparent-plagiarism-leads-elsevier-to-retract-periodic-table-book/4013812.article">"
      Apparent plagiarism leads Elsevier to retract periodic table book"</a>, <i>Chemistry World</i></li>
  <li><a href="https://twitter.com/stillgray/status/1743563107082092822">Ian Miles Cheong tweet</a></li>
  <li><a href="https://archive.org/details/SteamboatWillie"><i>Steamboat Willie</i></a> clip and still frame from the
    Internet Archive (public domain)</li>
  <li><a href="https://www.rottentomatoes.com/m/winnie_the_pooh_blood_and_honey"><i>Winnie The Pooh: Blood and
        Honey</i></a> movie poster via <i>Rotten Tomatoes</i></li>
</ul>
{% endblock %}