---
title: "Attribution - The charges against Binance – Molly White"
description: "Attribution for the video 'The charges against Binance'"
page_class: "attribution"
path: "/attribution/binance"
---

{% extends "layouts/with-nav.njk" %}
{% block content %}
<h1>Attribution and links</h1>
<h2>"The charges against Binance"</h2>
<h3>Court documents</h3>
<ul>
  <li><i>USA v. Binance</i> <a href="https://www.justice.gov/opa/media/1326911/dl?inline">information</a></li>
  <li><i>USA v. Binance</i> <a href="https://www.justice.gov/opa/media/1326901/dl?inline">plea agreement</a></li>
  <li><i>USA v. Changpeng Zhao</i> <a href="https://www.justice.gov/opa/media/1326906/dl?inline">plea agreement</a></li>
  <li><i>USA v. Zhao</i> <a href="https://www.justice.gov/opa/media/1326916/dl?inline">information</a></li>
  <li>FinCEN <a
      href="https://www.fincen.gov/sites/default/files/enforcement_action/2023-11-21/FinCEN_Consent_Order_2023-04_FINAL508.pdf">consent
      order</a></li>
  <li>OFAC <a href="https://ofac.treasury.gov/system/files/2023-11/20231121_binance_settlement.pdf">settlement
      agreement</a></li>
  <li><i>CFTC v. Binance, Zhao, and Lim</i> <a
      href="https://www.courtlistener.com/docket/67092867/1/commodity-futures-trading-commission-v-zhao/">complaint</a>
  </li>
  <li><i>SEC v. Binance and Zhao</i> <a
      href="https://www.courtlistener.com/docket/67474542/1/securities-and-exchange-commission-v-binance-holdings-limited/">complaint</a>
  </li>
  <li>
  <li><i>SEC v. Binance and Zhao</i> <a
      href="https://www.courtlistener.com/docket/67474542/202/securities-and-exchange-commission-v-binance-holdings-limited/">notice
      of supplemental authority</a>
  </li>
</ul>
<h3>Images and other assets</h3>
<ul>
  <li>Binance wordmark <a href="https://commons.wikimedia.org/wiki/File:Binance_logo.svg">logo</a></li>
  <li>Sam Bankman-Fried <a href="https://www.nytimes.com/2023/03/30/business/sam-bankman-fried-charges.html">photo</a>
  </li>
  <li>FTX wordmark <a href="https://commons.wikimedia.org/wiki/File:FTX_logo.svg">logo</a></li>
  <li>Changpeng Zhao <a
      href="https://www.theguardian.com/technology/2022/jun/25/changpeng-zhao-tech-chief-in-the-eye-of-the-cryptocurrency-storm">photo</a>
  </li>
  <li>He Yi <a
      href="https://fortune.com/2022/08/04/he-yi-binance-labs-changpeng-zhao-cofounder-crypto-winter-venture-capital/">photo</a>
  </li>
  <li>Anonymous person <a href="https://thenounproject.com/icon/anonymous-676465/">illustration</a> by Gregor Cresnar
  </li>
  <li><a href="https://commons.wikimedia.org/wiki/File:BlankMap-World.svg">World map</a></li>
  <li>Binance <a href="https://commons.wikimedia.org/wiki/File:Binance_Logo.svg">logo</a></li>
  <li>Samuel Lim <a href="https://twitter.com/binance/status/1174610800238972928">photo</a></li>
  <li>Tai chi clip from <a href="https://www.youtube.com/watch?v=oZFF3aRWZiQ">"TAI-CHI on Binjiang Avenue Promenade in
      Shanghai, China"</a>, Don Cosby, CC-BY 3.0</li>
  <li>Catherine Coley <a
      href="https://www.bloomberg.com/news/articles/2023-06-07/elusive-ex-binance-us-ceo-catherine-coley-reemerges-in-sec-suit">photo</a>
  </li>
  <li>Brian Brooks <a href="https://finance.yahoo.com/news/binance-us-ceo-brian-brooks-193537495.html">photo</a></li>
  <li>Changpeng Zhao <a
      href="https://www.forbes.com/sites/johnhyatt/2023/11/22/binances-changpeng-zhao-clings-to-multibillion-dollar-fortune-after-guilty-plea/?sh=38433c201ef8">photo</a>,
    leaving a courthouse in Seattle</li>
  <li>Justin Sun <a
      href="https://www.scmp.com/magazines/style/news-trends/article/3016486/why-jack-mas-protege-justin-sun-has-13-million-weibo">photo</a>
  </li>
  <li>Richard Teng <a
      href="https://www.binance.com/en/blog/leadership/bio-richard-teng-binances-new-ceo-6819833624741779461">photo</a>
  </li>
</ul>
<h3>Quoted/screenshotted material</h3>
<ul>
  <li>"<a
      href="https://www.bloomberg.com/news/features/2023-06-28/binance-co-founder-yi-he-on-crypto-regulation-and-changpeng-cz-zhao">Crypto's
      Most Powerful Woman Speaks Out as Crisis Rocks Binance</a>", <i>Bloomberg</i></li>
  <li>"<a
      href="https://www.forbes.com/sites/michaeldelcastillo/2020/10/29/leaked-tai-chi-document-reveals-binances-elaborate-scheme-to-evade-bitcoin-regulators/">Leaked
      'Tai Chi' Document Reveals Binance's Elaborate Scheme To Evade Bitcoin Regulators</a>", <i>Forbes</i></li>
  <li><i>Binance v. Forbes</i> <a
      href="https://www.courtlistener.com/docket/18642470/1/binance-holdings-limited-v-forbes-media-llc/">complaint</a>
  </li>
  <li>"<a
      href="https://www.binance.com/en/blog/from-our-ceo/czs-response-to-the-cftc-complaint-2408916493005890282">CZ's
      Response to the CFTC Complaint</a>", Binance</li>
  <li>"<a
      href="https://www.binance.com/en/blog/ecosystem/sec-complaint-aims-to-unilaterally-define-crypto-market-structure-8707489117122437402">SEC
      Complaint Aims to Unilaterally Define Crypto Market Structure</a>", Binance</li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
</ul>
<h3>Background sources</h3>
<ul>
  <li>"<a
      href="https://www.bloomberg.com/news/features/2023-06-28/binance-co-founder-yi-he-on-crypto-regulation-and-changpeng-cz-zhao">Crypto's
      Most Powerful Woman Speaks Out as Crisis Rocks Binance</a>", <i>Bloomberg</i></li>
  <li>"<a href="https://www.youtube.com/watch?v=tEJ-7dAquwg">Why Crypto Will Never Fix Payments (feat. Patrick
      McKenzie)</a>", Episode 143 of <i>Crypto Critics Corner</i></li>
  <li><a href="https://en.wikipedia.org/wiki/Bank_Secrecy_Act">Bank Secrecy Act</a> on Wikipedia</li>
  <li><a href="https://en.wikipedia.org/wiki/Title_III_of_the_Patriot_Act">Title III of the Patriot Act</a> on Wikipedia
  </li>
  <li><a href="https://en.wikipedia.org/wiki/Subtitle_B_of_Title_III_of_the_Patriot_Act">Subtitle B of Title III of the
      Patriot Act</a> on Wikipedia</li>
  <li>"<a href="https://www.rollingstone.com/music/music-news/binance-coinbase-sec-investigation-crypto-1234768202/">The
      Feds Are Coming for Crypto. Can It Survive?</a>", <i>Rolling Stone</i></li>
  <li>"<a href="https://www.wired.com/story/binance-settlement-transaction-histories/">The Binance Crackdown Will Be an
      'Unprecedented' Bonanza for Crypto Surveillance</a>", <i>Wired</i></li>
  <li>"<a href="https://www.rollingstone.com/culture/culture-features/changpeng-zhao-cz-crypto-binance-1234740435/">The
      Fate of Crypto Rests with Changpeng Zhao of Binance</a>", <i>Rolling Stone</i></li>
  <li>"<a href="https://www.wired.com/story/a-doj-settlement-would-show-binance-is-too-big-to-fail/">A DOJ Settlement
      Would Show Binance Is Too Big to Fail</a>", <i>Wired</i></li>
  <li>"<a
      href="https://www.seattletimes.com/business/binances-vip-traders-got-sneak-peek-of-record-u-s-crypto-penalty/">Binance’s
      VIP traders got sneak peek of record U.S. crypto penalty</a>", <i>The Seattle Times</i></li>
  <li>"<a href="https://www.theverge.com/c/22947663/justin-sun-tron-cryptocurrency-poloniex">The Many Escapes of Justin
      Sun</a>", <i>The Verge</i>
  </li>
  <li><a href="https://twitter.com/SilvermanJacob/status/1669909667693187072/">Tweet</a> by Jacob Silverman
  </li>
</ul>
{% endblock %}