---
title: "Attribution - The Cryptocurrency Industry's Unprecedented Election Spending – Molly White"
description: "Attribution for the video 'The Cryptocurrency Industry's Unprecedented Election Spending'"
page_class: "attribution"
path: "/attribution/crypto-election-spending"
---

{% extends "layouts/with-nav.njk" %} {% block content %}
<h1>Attribution and links</h1>
<h2>"The Cryptocurrency Industry's Unprecedented Election Spending"</h2>
<h3>Images and other assets</h3>
<ul>
  <li>
    Katie Porter, from a
    <a href="https://x.com/Public_Citizen/status/1311720507159523329">tweet</a>
    by Public Citizen
  </li>
  <li>
    <a
      href="https://commons.wikimedia.org/wiki/File:Jamaal_Bowman_117th_U.S_Congress.jpg"
      >Jamaal Bowman</a
    >, Wikimedia Commons
  </li>
  <li>
    <a
      href="https://commons.wikimedia.org/wiki/File:Cori_Bush_117th_U.S_Congress.jpg"
      >Cori Bush</a
    >, Wikimedia Commons
  </li>
  <li>
    "<a href="https://www.youtube.com/watch?v=C9DL_xOvvrY">Fools</a>" ad by
    FairShake opposing Katie Porter
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=b5WumJXB1aU">Ad</a> supporting
    Yassamin Ansari by Protect Progress
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=7k6z-W1KTOs"
      >"Bitcoin ‘seems like a scam’: Trump"</a
    >, <i>Fox Business</i>
  </li>
  <li>
    <a
      href="https://mainemorningstar.com/2024/10/23/growing-bipartisan-support-for-maine-initiative-to-get-dark-money-out-of-politics/"
      >Yes on 1 supporters</a
    >, <i>Maine Morning Star</i>
  </li>
</ul>

<h3>Quoted/screenshotted material</h3>
<ul>
  <li><a href="https://followthecrypto.org/">Follow the Crypto</a></li>
  <li>
    <a href="https://www.supremecourt.gov/opinions/boundvolumes/558bv.pdf"
      ><i>Citizens United v. FEC</i></a
    >
    decision
  </li>
  <li>
    "<a href="https://www.citizen.org/article/big-crypto-big-spending-2024/"
      >Big Crypto, Big Spending: Crypto Corporations Spend an Unprecedented $119
      Million Influencing Elections</a
    >", Public Citizen
  </li>
  <li>
    <a
      href="https://www.courtlistener.com/docket/67478179/securities-and-exchange-commission-v-coinbase-inc"
      ><i>SEC v. Coinbase</i></a
    >
  </li>
  <li>
    <a
      href="https://www.courtlistener.com/docket/19857399/securities-and-exchange-commission-v-ripple-labs-inc/"
      ><i>SEC v. Ripple</i></a
    >
  </li>
  <li>
    "<a href="https://www.axios.com/2024/08/12/sec-questions-vcs-uniswap"
      >The SEC has questions for VCs about Uniswap</a
    >", <i>Axios</i>
  </li>
  <li>
    "<a href="https://blockworks.co/news/sec-terraform-labs-ust-depeg"
      >Jump Crypto president pleads the Fifth when asked about alleged Do Kwon
      bribe</a
    >", <i>Blockworks</i>
  </li>
  <li>
    "<a
      href="https://fortune.com/crypto/2024/06/20/cftc-jump-crypto-behnam-kanav-kariya-sec/"
      >The CFTC is probing Jump Crypto, previously one of the sector’s biggest
      players</a
    >", <i>Fortune</i>
  </li>
  <li>
    <a
      href="https://www.courtlistener.com/docket/19857399/securities-and-exchange-commission-v-ripple-labs-inc/"
      ><i>SEC v. Ripple</i></a
    >
  </li>
  <li>
    <a
      href="https://www.courtlistener.com/docket/66718824/securities-and-exchange-commission-v-genesis-global-capital-llc/"
      ><i>SEC v. Genesis Global Capital and Gemini Trust Company</i></a
    >
  </li>
  <li>
    <a
      href="https://www.courtlistener.com/docket/68023155/securities-and-exchange-commission-v-payward-inc/"
      ><i>SEC v. Payward Inc. (d/b/a Kraken)</i></a
    >
  </li>
  <li>
    "<a href="https://www.sec.gov/newsroom/press-releases/2023-25"
      >Kraken to Discontinue Unregistered Offer and Sale of Crypto Asset
      Staking-As-A-Service Program and Pay $30 Million to Settle SEC Charges</a
    >", Securities and Exchange Commission
  </li>
  <li>
    "<a href="https://theblockchainassociation.org/swingstatevoter/"
      >Crypto, Swing States, and the 2024 Election</a
    >", The Blockchain Association
  </li>
  <li>
    "<a
      href="https://theblockchainassociation.org/wp-content/uploads/2024/05/DCG_HarrisPoll-Research-Report.pdf"
      >Crypto Attitudes in Swing States</a
    >", DCG and Harris Poll (PDF)
  </li>
  <li>
    "<a
      href="https://www.newyorker.com/magazine/2024/10/14/silicon-valley-the-new-lobbying-monster"
      >Silicon Valley, the New Lobbying Monster</a
    >", <i>The New Yorker</i>
  </li>
  <li>
    <a href="https://www.standwithcrypto.org/politicians">Stand With Crypto</a>
    politican rankings
  </li>
  <li>
    <a
      href="https://www.warren.senate.gov/imo/media/doc/Letter%20to%20ERCOT%20re%20Cryptomining.pdf"
      >Letter</a
    >
    by Elizabeth Warren and other Congresspeople to Pablo Vegas, Chief Executive
    Officer of the Electric Reliability Council of Texas
  </li>
  <li>
    <a href="https://x.com/BitcoinPierre/status/1817219938672591310">Letter</a>
    by pro-crypto Democrats to the DNC
  </li>
  <li>
    <a href="https://x.com/brian_armstrong/status/1854028856409436226">Tweet</a>
    by Brian Armstrong
  </li>
  <li>
    <a href="https://x.com/tyler/status/1854018418485366816">Tweet</a> by Tyler
    Winklevoss
  </li>
  <li>
    <a href="https://x.com/cameron/status/1854027964951777436">Tweet</a> by
    Cameron Winklevoss
  </li>
  <li>
    <a href="https://x.com/PerianneDC/status/1856820217021685842">Tweet</a> by
    Perianne Boring
  </li>
  <li>
    <a href="https://www.citationneeded.news/issue-68/#crypto-pacs"
      >Stand With Crypto backing the winners</a
    >
    chart from <i>Citation Needed</i>
  </li>
  <li>
    <a href="https://x.com/brian_armstrong/status/1851729070171811910">Tweet</a>
    by Brian Armstrong
  </li>
  <li>
    "<a
      href="https://www.coindesk.com/policy/2024/11/04/andreessen-horowitz-donates-23m-to-crypto-super-pac-fairshake-for-2026-elections/"
      >Andreessen Horowitz Donates $23M to Crypto Super Pac Fairshake for 2026
      Elections</a
    >", <i>CoinDesk</i>
  </li>
  <li>
    "<a href="https://www.cftc.gov/PressRoom/PressReleases/8369-21"
      >CFTC Orders Coinbase Inc. to Pay $6.5 Million for False, Misleading, or
      Inaccurate Reporting and Wash Trading</a
    >", Commodity Futures Trading Commission
  </li>
  <li>
    "<a href="https://www.cftc.gov/PressRoom/PressReleases/8540-22"
      >CFTC Charges Gemini Trust Company for Making Material False or Misleading
      Statements and Omissions to the Commission</a
    >", Commodity Futures Trading Commission
  </li>
  <li>
    "<a href="https://www.cftc.gov/PressRoom/PressReleases/8433-21"
      >CFTC Imposes A $1.25 Million Penalty against Kraken for Offering Illegal
      Off-Exchange Digital Asset Trading and Failing to Register as Required</a
    >", Commodity Futures Trading Commission
  </li>
  <li>
    <a href="https://x.com/brian_armstrong/status/1854561241144111104">Tweet</a>
    by Brian Armstrong
  </li>
  <li>
    <a href="https://x.com/bgarlinghouse/status/1854134741089316961">Tweet</a>
    by Brad Garlinghouse
  </li>
  <li>
    "<a href="https://www.sec.gov/files/rules/petitions/2022/petn4-789.pdf"
      >Re: Petition for Rulemaking – Digital Asset Securities Regulation</a
    >", Coinbase
  </li>
  <li>
    <a
      href="https://www.courtlistener.com/docket/67273468/1/1/in-re-coinbase-inc/"
      >Coinbase, Inc.'s Petition for Writ of Mandamus to the United States
      Securities and Exchange Commission</a
    >, <i>In RE: Coinbase, Inc.</i>
  </li>
  <li>
    <a
      href="https://www.courtlistener.com/docket/68096417/1/1/coinbase-inc-v-sec/"
      ><i>Coinbase v. SEC</i></a
    >, 3rd. Cir.
  </li>
  <li>
    <a
      href="https://storage.courtlistener.com/recap/gov.uscourts.nysd.599908/gov.uscourts.nysd.599908.105.0.pdf"
      >Opinion and Order</a
    >, <i>SEC v. Coinbase</i>
  </li>
  <li>
    "<a href="https://www.axios.com/2024/09/23/coinbase-sec-crypto-rulemaking"
      >Coinbase lawsuit leads to SEC grilling in appellate court</a
    >", <i>Axios</i>
  </li>
  <li>
    <a
      href="https://www.nytimes.com/interactive/2024/11/05/us/elections/results-maine-question-1-limit-contributions-to-super-pacs.html"
      >Maine Question 1 Election Results: Limit Contributions to Super PACs</a
    >, <i>The New York Times</i>
  </li>
</ul>
{% endblock %}
