---
title: "Attribution - Is NPR's new CEO 'anti-truth'?"
description: "Attribution for the video 'Is NPR's new CEO 'Anti-Truth'?'"
page_class: "attribution"
path: "/attribution/maher"
---

{% extends "layouts/with-nav.njk" %}
{% block content %}
<h1>Attribution and links</h1>
<h2>"Is NPR's new CEO 'anti-truth'?"</h2>
<ul>
  <li><a href="https://commons.wikimedia.org/wiki/File:2023_-_Opening_night_RCZ_2816_(53330121116).jpg">Katherine
      Maher</a> photograph by Web Summit, CC-BY 2.0</li>
  <li><a href="https://commons.wikimedia.org/wiki/File:Chris_Rufo_2022.jpg">Chris Rufo</a> photograph by ReasonTV, CC-BY
    3.0</li>
  <li><a href="https://newrepublic.com/post/176621/christopher-rufo-fund-right-wing-culture-war-projects">"Christopher
      Rufo's Shockingly Open Appeal: I'll Fund Right-Wing 'Culture War' Projects</a>, <i>The New Republic</i></li>
  <li><a href="https://twitter.com/elonmusk/status/1780660716229554184">Tweet by Elon Musk</a></li>
  <li><a href="https://twitter.com/elonmusk/status/1780875996645744880">Tweet by Elon Musk</a></li>
  <li><a href="https://twitter.com/elonmusk/status/1780963843524444311">Tweet by Elon Musk</a></li>
  <li><a href="https://twitter.com/elonmusk/status/1781016948052021600">Tweet by Elon Musk</a></li>
  <li><a href="https://www.npr.org/2023/04/05/1168158549/twitter-npr-state-affiliated-media">"Twitter labels NPR's
      account as 'state-affiliated media,' which is untrue"</a>, <i>NPR</i></li>
  <li><a
      href="https://www.forbes.com/sites/anafaguy/2023/04/12/musk-escalates-npr-attacks-calls-for-federal-defunding-npr/">"Musk
      escalates NPR attacks, calls for federal defunding NPR"</a>, <i>Forbes</i></li>
  <li><a href="https://www.npr.org/2023/05/02/1173422311/elon-musk-npr-twitter-reassign">"Elon Musk threatens to
      reassign @NPR on Twitter to 'another company'"</a>, <i>NPR</i></li>
  <li><a
      href="https://www.washingtonpost.com/business/2023/10/24/no-wonder-elon-musk-wants-to-see-wikipedia-taken-down/b30c1c3c-728a-11ee-936d-7a16ee667359_story.html">"No
      Wonder Elon Musk Is Now Attacking Wikipedia"</a>, <i>The Washington Post</i></li>
  <li><a href="https://archive.is/9Egnx">Tweet by Katherine Maher (archive)</a></li>
  <li><a href="https://twitter.com/krmaher/status/1295330037957308416">Tweet by Katherine Maher</a></li>
  <li><a href="https://twitter.com/krmaher/status/1323094291732815872">Tweet by Katherine Maher</a></li>
  <li><a href="https://twitter.com/realchrisrufo/status/1781002831191052580">Tweet by Chris Rufo</a></li>
  <li><a href="https://twitter.com/realchrisrufo/status/1780019498734747871">Tweet by Chris Rufo</a></li>
  <li><a href="https://www.wsj.com/articles/why-elon-musk-contends-twitter-can-disrupt-the-media-business-9c54b67">"Why
      Elon Musk Contends Twitter Can Disrupt the Media Business"</a>, <i>The Wall Street Journal</i></li>
  <li><a
      href="https://commons.wikimedia.org/wiki/File:Rupert_Murdoch_-_Flickr_-_Eva_Rinaldi_Celebrity_and_Live_Music_Photographer.jpg">Rupert
      Murdoch</a> photograph by Eva Rinaldi, CC-BY-SA 2.0</li>
  <li><a href="https://www.foxnews.com/media/npr-boss-called-first-amendment-challenge-reverence-truth-distraction">"NPR
      boss once called the First Amendment a 'challenge' and 'reverence for the truth' a distraction"</a>, <i>Fox
      News</i>
  <li><a href="https://www.youtube.com/watch?v=r2gsj0EEE3I">"What Wikipedia Teaches Us About Balancing Truth and
      Beliefs"</a>, 2022 TED Talk by Katherine Maher</li>
  <li><a href="https://en.wikipedia.org/wiki/Earth">Earth</a> Wikipedia article</li>
  <li><a href="https://en.wikipedia.org/wiki/Young_Earth_creationism">Young Earth creationism</a> Wikipedia article</li>
  <li><a href="https://en.wikipedia.org/wiki/Existence_of_God">Existence of God</a> Wikipedia article</li>
  <li><a href="https://en.wikipedia.org/wiki/Reliability_of_Wikipedia">Reliability of Wikipedia</a> Wikipedia article
  </li>
  <li><a href="https://twitter.com/realchrisrufo/status/1780929268949614848">Tweet by Chris Rufo</a></li>
  <li><a href="https://www.youtube.com/watch?v=y-JRPJnVvOU">A conversation with former Wikimedia CEO, Katherine
      Maher</a>, 2021 interview by the
    AtlanticCouncil</li>
</ul>
{% endblock %}