<!DOCTYPE html>
<html lang="en" class="no-js">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{{ title }}</title>

    <link rel="stylesheet" href="../assets/base-styles.css"/>
    <style>
      {% if pagecss %}
        {% postcss pagecss %}
      {% endif %}
    </style>

    <meta property='og:site_name' content='Molly White'/>
    <meta property="og:title" content="{{title}}"/>
    <meta name="twitter:title" content="{{title}}"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
      <meta property="og:description" content="{{description}}"/>
      <meta name="twitter:description" content="{{title}}"/>
    {% endif %}
    <meta property="og:image"
      content="{{image | default('https://www.mollywhite.net/assets/images/molly_illustration.png')}}"/>
    <meta name="twitter:image"
      content="{{image | default('https://www.mollywhite.net/assets/images/molly_illustration.png')}}"/>
    <meta property="og:image:alt"
      content="{{image_description | default('An illustration of Molly sitting crosslegged with a laptop on her lap')}}"/>
    <meta name="twitter:image:alt"
      content="{{image_description | default('An illustration of Molly sitting crosslegged with a laptop on her lap')}}"/>
    {% if image_width %}
      <meta property="og:image:width" content="{{image_width}}"/>
    {% endif %}
    {% if image_height %}
      <meta property="og:image:height" content="{{image_height}}"/>
    {% endif %}
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@mollyxfff"/>
    <meta name="twitter:creator:id" content="545445165"/>
    <meta property="og:url" content="https://www.mollywhite.net{{ path }}"/>
    <link rel="canonical" href="https://www.mollywhite.net{{ path }}"/>

    <link rel="icon" href="/assets/images/icons/favicon.ico"/>
    <link rel="icon" href="/assets/images/icons/favicon-16x16.png" sizes="16x16" type="image/png"/>
    <link rel="icon" href="/assets/images/icons/favicon-32x32.png" sizes="32x32" type="image/png"/>
    <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon.png" sizes="180x180"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="me" href="https://hachyderm.io/@molly0xfff"/>
    <meta name="theme-color" content="#161616"/>
  </head>

  <body>
    {% block pagecontent %}{% endblock %}
  </body>
  <script src="/assets/js/main.js"></script>
  {% block js %}{% endblock %}

</html>