{% extends "layouts/base.njk" %}

{% block pagecontent %}
  <div class="page-container {{page_class}}">
    {% include "nav.njk" %}
    <main>
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block js %}
  <script src="https://www.mollywhite.net/assets/js/nav.js"></script>
{% endblock %}