{% extends "layouts/base.njk" %}
{% set pagecss = "nav.scss" %}

{% block pagecontent %}
  <div class="page-container {{page_class}}">
    {% include "nav.njk" %}
    <main>
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block js %}
  <script src="/assets/js/nav.js"></script>
{% endblock %}