{% extends "layouts/base.njk" %}

{% block css %}
{% postcss %}
{% include "../../assets/styles/nav.scss" %}
{% endpostcss %}
{% endblock %}

{% block content %}
<div class="page-container {{page_class}}">
  {% include "nav.njk" %}
  <main>{{ content | safe }}</main>
</div>
{% endblock %}

{% block js %}
<script src="/assets/js/nav.js"></script>
{% endblock %}