---
title: "Annotations"
description: "Annotations created by Molly White and others."
page_class: "annotations"
path: "/annotations"
---

{% extends "layouts/with-nav.njk" %} {% block content %}
<h2>Annotations</h2>
<ul>
  <li>
    <a href="https://www.mollywhite.net/annotations/latecomers-guide-to-crypto"
      >The Edited Latecomer’s Guide To Crypto</a
    >
  </li>
  <li>
    <a href="https://www.mollywhite.net/annotations/sbf-ftx-pre-mortem-overview"
      >Annotated: Sam Bankman-Fried’s "FTX Pre-Mortem Overview"</a
    >
  </li>
  <li>
    <a href="https://www.mollywhite.net/annotations/paradigm-democrat-poll"
      >Annotated: Paradigm’s July 2024 Democratic Public Opinion Poll</a
    >
  </li>
</ul>
{% endblock %}
