---
title: "Annotated: Paradigm’s July 2024 Democratic Public Opinion Poll"
description: "Annotating Paradigm’s July 2024 poll of Democratic voters on their crypto opinions."
page_class: "review"
path: "/annotations/paradigm-democrat-poll"
image: "https://www.mollywhite.net/storage/annotated-paradigm.png"
---

{% extends "layouts/blank.njk" %} {% set pagecss = "reviews.scss" %} {% block
head %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "headline": "Annotated: Paradigm&rsquo;s July 2024 Democratic Public Opinion Poll",
    "image": []
    "datePublished": "2024-08-30T12:00:00-04:00",
    "author": [
      {
        "@type": "Person",
        "name": "Molly White"
      }
    ]
  }
</script>
{% endblock %} {% block content %}
<div class="title-block">
  <h1>Annotated: Paradigm&rsquo;s July 2024 Democratic Public Opinion Poll</h1>
  <div class="byline">
    By Justin Slaughter and Dominique Little.<br />
    <a href="https://policy.paradigm.xyz/writing/Dem-polling"
      >Originally published</a
    >
    on Paradigm&rsquo;s policy blog on August&nbsp;12,&nbsp;2024.
  </div>
  <div class="byline">
    Annotations by
    <a href="https://www.mollywhite.net">Molly White</a>. Published August 30,
    2024.<br />
    There is an
    <a href="https://www.citationneeded.news/paradigm-democrat-poll/"
      >audio version</a
    >
    of this annotation on <i>Citation Needed</i>.
  </div>
</div>
<div class="intro">
  <p>
    Paradigm, a cryptocurrency-focused venture capital firm, has joined the
    ranks of cryptocurrency companies and blockchain advocacy groups that are
    commissioning polls ostensibly to learn more about crypto sentiment among
    American voters.
  </p>
  <p>
    A previous poll, commissioned by the Digital Currency Group and published by
    the crypto lobbying group The Blockchain Association, summarized their
    findings in
    <a
      href="https://www.citationneeded.news/2024-cryptocurrency-election-spending/"
      >incredibly misleading ways</a
    >
    to try to pave the way for a narrative that there are a substantial number
    of single-issue voters who are likely to support pro-crypto candidates,
    regardless of other policy positions, in upcoming elections.
    <a
      href="https://www.citationneeded.news/when-did-cryptocurrency-become-a-voter-issue/#%E2%80%9C52-million-americans-own-crypto%E2%80%9D"
      >Another</a
    >, commissioned by Coinbase, is the source of &ldquo;data&rdquo; on crypto
    ownership that has been repeated by the industry, its lobbyists, and
    lawmakers alike, despite being extremely dubious.
  </p>
  <p>
    Instead of seeking to understand voter sentiment around crypto, these polls
    were nakedly designed to solicit desired responses. The responses, in turn,
    were summarized by the crypto firms in reports that were clearly designed to
    try to convince lawmakers and candidates that
    <a
      href="https://www.citationneeded.news/when-did-cryptocurrency-become-a-voter-issue/"
      >cryptocurrency is a major voter issue</a
    >, and that they risk losing potentially substantial support from their
    constitutents if they fail to prostrate themselves before the industry.
    After all, these are <i>hard numbers</i>, and numbers are
    <i>objective</i> and <i>concrete</i>!
  </p>
  <p>
    Does this poll, and the summary of its findings, suffer from the same flaws?
    Let&rsquo;s dig in.
  </p>
</div>
<div class="group first">
  <div class="left">
    <div class="content">
      <mark aria-details="gravitating"
        >Democratic voters are increasingly gravitating towards crypto.</mark
      >
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="gravitating" role="comment">
        <p>We&rsquo;ll come back to this &ldquo;primary takeaway&rdquo;.</p>
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      That&rsquo;s the primary takeaway of our new poll of registered Democrats,
      the complement to our poll of
      <a href="https://policy.paradigm.xyz/writing/GOP-Polling">Republicans</a>.
      from June. These results dovetail with recent reports that Democratic
      candidates for office and Members of Congress are becoming pro-crypto,
      <mark aria-details="following-lead"
        >indicating that political figures are following the lead of their
        voters.</mark
      >
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="following-lead" role="comment">
        <p>
          There may be &ldquo;reports&rdquo; (generally from the industry) that
          candidates and incumbent Congresspeople are &ldquo;becoming
          pro-crypto&rdquo;, but I would definitely like to see some better
          support for the
          <a
            href="https://www.citationneeded.news/when-did-cryptocurrency-become-a-voter-issue/"
            >claim</a
          >
          that this is them &ldquo;following the lead of their voters&rdquo; and
          not, oh, I don&rsquo;t know, related to the
          <a href="https://followthecrypto.org/"
            >hundreds of millions of dollars available to candidates</a
          >
          who are deferential to the industry.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      For this release, the poll was conducted with the research firm
      <mark data-annotation-id="1" aria-details="mercury"
        >Mercury Analytics</mark
      >. Our poll was
      <mark data-annotation-id="2" aria-details="field">in the field</mark>
      from July 25th until August 1st, meaning that this data was collected in
      the days after President Joe Biden announced he would be stepping down as
      the Democratic nominee for President and Vice President Kamala Harris
      effectively locked up the nomination. We polled 804 self-identified
      Democratic registered voters for this poll, with a margin of error of
      3.5%. We also oversampled Black, Hispanic, and AAPI Democrats,
      <mark data-annotation-id="3" aria-details="oversample"
        >conducting 100 additional interviews with each of these audiences</mark
      >, to gain better insight into how non-white Democrats view crypto.
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div
        class="annotation"
        id="mercury"
        role="comment"
        data-annotation-id="1"
      >
        Mercury Analytics isn&rsquo;t listed on 538&rsquo;s pollster ratings
        list like
        <a
          href="https://www.citationneeded.news/when-did-cryptocurrency-become-a-voter-issue/#the-story"
          >DCG&rsquo;s pollster was</a
        >, but they also aren&rsquo;t a completely unknown quantity, having
        published research on topics ranging from vaping to 2020 presidential
        election debate sentiment. Their polls have been reported upon in
        <i>The Wall Street Journal</i> and elsewhere, though
        <a
          href="https://www.wsj.com/articles/youth-vaping-has-soared-in-2018-new-data-show-1537481424"
          >one such article</a
        >
        noted some flaws with survey design. Their CEO&rsquo;s June 2024 article
        about how &ldquo;<a
          href="https://www.fastcompany.com/91141369/ai-marketing-market-research"
          >AI is revolutionizing the market research industry</a
        >&rdquo; made me wonder if AI was involved in interpreting qualitative
        answers to <i>this</i> survey, as he advocated, but after speaking with
        Paradigm&rsquo;s policy team I learned that no qualitative interviews
        were performed.
      </div>
      <div class="annotation" id="field" role="comment" data-annotation-id="2">
        <p>
          I asked Paradigm for more detail about how the poll was conducted, and
          they informed me that it was conducted all online (unlike their
          <a href="https://policy.paradigm.xyz/writing/GOP-Polling"
            >June poll of Republicans</a
          >, which was conducted by phone and online). They do not publicly note
          this, nor does their poll summary address the skew that this likely
          introduces.
        </p>
        <p>
          A
          <a
            href="https://www.federalreserve.gov/publications/files/2023-report-economic-well-being-us-households-202405.pdf"
            >May 2024 online survey by the Federal Reserve</a
          >
          notes: &ldquo;Because the survey is conducted online, the sample
          population may be more technologically connected than the overall
          population, which could increase the share of adults reporting use of
          emerging technologies such as cryptocurrencies.&rdquo; David Marker,
          fellow of the American Statistical Association and American Academy
          for the Advancement of Science and elected member of the International
          Statistical Institute,
          <a
            href="https://amycastor.com/2024/07/20/smear-campaigns-and-false-narratives-how-the-crypto-lobby-seeks-to-influence-us-politics-by-jake-donoghue/"
            >criticized</a
          >
          the DCG poll for failing to include such a disclaimer, commenting:
          &ldquo;Online surveys into crypto ownership can skew or misrepresent
          true figures, and they&rsquo;re inherently limited, as they
          don&rsquo;t factor in the digitally excluded on a topic that is
          directly related to digital comfort.&rdquo;
        </p>
        <p>
          At the very least, Paradigm should have disclosed the method by which
          respondents were surveyed, and preferably also proactively noted the
          potential skew this likely introduces.
        </p>
      </div>
      <div
        class="annotation"
        id="oversample"
        role="comment"
        data-annotation-id="3"
      >
        For clarity&rsquo;s sake, I verified with Paradigm that the oversample
        brought the total number of respondents to around 1,100 people. The 300
        additional surveys were in addition to the 804&nbsp;people surveyed, not
        a part of that number.
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <h3>
        Takeaway 1: Democratic crypto voters are up for grabs this November.
      </h3>
      <p>
        <mark aria-details="harris" data-annotation-id="1"
          >Making inroads with crypto owners could help Vice President Harris
          win back some wayward Democrats and increase her likelihood of
          winning.</mark
        >
        As of right now,
        <mark aria-details="dem-trump" data-annotation-id="2"
          >there are 1-2% of Democrats who may be leaning towards Trump due the
          Biden Administration&rsquo;s hostility to crypto</mark
        >.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="harris" role="comment" data-annotation-id="1">
        <p>
          They get right to the point about their goals with this survey. With
          polling that began just after Harris replaced Biden as the Democratic
          nominee and immediately began picking up steam, this poll seems to
          have been commissioned at least in part in hopes of convincing the
          Harris campaign, and those around her, that &ldquo;making inroads with
          crypto owners&rdquo; is something she needs to prioritize.
        </p>
        <p>
          It also fits with the timing of their previous poll, which was trying
          to convince Trump that <i>he</i> needed to attract Republicans who own
          crypto while he was leading in the polls.
        </p>
      </div>

      <div
        class="annotation"
        id="dem-trump"
        role="comment"
        data-annotation-id="2"
      >
        <p>
          This is a bit of an odd data point, and odder still was the decision
          to highlight it as the very first finding, given it is also one of the
          weakest claims from this poll.
        </p>
        <p>
          First, let me remind you that they&rsquo;ve just stated a paragraph
          earlier that the margin of error in this poll is 3.5%.
        </p>
        <p>
          Second, the math doesn&rsquo;t really work out. I&rsquo;ve confirmed
          with Paradigm that they were calculating from the following graphic
          the number of &ldquo;non-Harris voters&rdquo; (<a href="#undecided"
            >more on that</a
          >
          in a second) who responded that the Biden admin was &ldquo;too
          hostile&rdquo; to cryptocurrency, and munging those two together to
          conclude that this segment thus &ldquo;may be leaning towards Trump
          due the Biden Administration&rsquo;s hostility to crypto&rdquo;.
          However, this figure actually comes out to about 2.7%, which is not
          within the stated &ldquo;1–2%&rdquo; range. (13% of 804 respondents is
          104.52; 21% of 104.52 is ~22; and 22 out of 804 people is ~2.7%.) I
          was informed they decided to provide a lower estimate in the summary
          than their polling suggested, because 2–3% &ldquo;felt too
          aggressive&rdquo;. But that raises the question: why bother polling if
          you&rsquo;re just going to change the numbers?
        </p>
        <p>
          Third, they did not ask any questions about whether the Biden
          admin&rsquo;s perceived hostility might actually push these people to
          vote for Trump, nor do they provide any details about how many of
          these &ldquo;non-Harris voters&rdquo; would consider voting for Trump
          in general.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content no-margin">
      <div class="in-text-image wide bordered">
        <mark class="image-mark" aria-details="dem-poll-1">
          <a
            href="https://storage.mollywhite.net/micro/dem_polling_image_1.png"
          >
            <img
              src="https://storage.mollywhite.net/micro/dem_polling_image_1.png"
              alt="Have you ever invested in, traded, or used a cryptocurrency such as Bitcoin or Ethereum? Yes
                Non-Harris Voters, yes, 18%
                [This is represented by a blue bar that takes up roughly 60% of the available space]
                
                Thinking about how the Biden Administration has handled cryptocurrency, do you think its approach has been...
                Non-Harris Voters
                [Horizontal bar chart]
                Too Friendly 11%
                Just About Right 16%
                Don't Know 52%
                Too Hostile 21%" /></a
        ></mark>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div
        class="annotation"
        id="dem-poll-1"
        data-annotation-id="1"
        role="comment"
      >
        <p>
          The scale on this first bar chart is <i>hilarious</i>, particularly
          juxtaposed above the chart just below it (which captures the full 100%
          of respondents, while the same amount of space fits maybe 30% of
          respondents for this question).
        </p>
        <p>
          I can help them out a little bit by editing in the bar for the
          remainder of the &ldquo;non-Harris voters&rdquo; who don&rsquo;t hold
          crypto:
        </p>
        <div class="in-text-image wide bordered">
          <a
            href="https://storage.mollywhite.net/micro/dem_polling_image_1-2.png"
          >
            <img
              src="https://storage.mollywhite.net/micro/dem_polling_image_1-2.png"
              alt="Same as previous, but an orange bar with the proper width to
            represent the remaining 82% of respondents has been edited in. This
            necessitates making the image about 4x wider."
          /></a>
        </div>
        <p>
          Or perhaps scaling it down to the same proportions as the other chart,
          assuming the full width of the space represents 100%:
        </p>
        <div class="in-text-image wide bordered">
          <a
            href="https://storage.mollywhite.net/micro/dem_polling_image_1-3.png"
          >
            <img
              src="https://storage.mollywhite.net/micro/dem_polling_image_1-3.png"
              alt="Same as the first chart, but the blue 18% bar is now in proportion to a width of 100%, matching the second bar chart."
          /></a>
        </div>
        <p>Ahh, much better.</p>
      </div>
      <div
        class="annotation"
        id="dem-poll-1"
        data-annotation-id="2"
        role="comment"
      >
        In the second bar chart, the designers of this report have for some
        reason opted to place the 52% &ldquo;don&rsquo;t know&rdquo; respondents
        between &ldquo;just about right&rdquo; and &ldquo;too hostile&rdquo;, as
        though it signifies &ldquo;somewhat too hostile&rdquo;.
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          Of the 804 Democrats we polled,
          <mark aria-details="undecided"
            >13% said they were not voting for Harris as they are either voting
            for Trump, a third-party candidate, or are still undecided</mark
          >.
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="undecided" role="comment">
        I verified with Paradigm that this 13% &ldquo;undecided&rdquo; figure is
        indeed the proportion of people who indicated they would be voting for
        Trump, a third-party candidate, or had not yet decided, but that they
        had <i>not</i> polled on whether these voters would choose not to vote
        for Harris. In my opinion, it&rsquo;s misleading to suggest in the
        summary that these people are all &ldquo;not voting for Harris&rdquo;
        (or refer to them throughout as &ldquo;non-Harris voters&rdquo;) given
        that they did not indicate that, and some of those undecided voters may
        well end up voting for Harris — as might some of those who indicated
        they would vote for a third-party candidate who later dropped out.
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          <mark aria-details="trump-supporting" data-annotation-id="1">
            Trump-supporting Democrats</mark
          >
          are far more likely to
          <mark aria-details="have-bought" data-annotation-id="2"
            >have brought cryptocurrency</mark
          >
          than the rest of those polled. 18% of non-Harris Democrats have bought
          crypto, and Trump-supporting Democrats have bought at two times that
          rate.
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div
        class="annotation"
        id="trump-supporting"
        role="comment"
        data-annotation-id="1"
      >
        Paradigm verified that 5% of the self-identified Democrats in this poll
        indicated they would be voting for Trump.
      </div>
      <div
        class="annotation"
        id="have-bought"
        role="comment"
        data-annotation-id="2"
      >
        This figure seems to come from the later question in section 3 that asks
        &ldquo;Have you ever invested in, traded, or used a cryptocurrency such
        as Bitcoin or Ethereum?&rdquo; I don&rsquo;t love these types of
        questions because they include people like myself, who are highly
        skeptical of cryptocurrencies but own (or previously owned) some for
        research purposes. It also includes those who purchased crypto and then
        got rid of (or lost) it all; those who have used crypto for a single
        transaction; those who have just received crypto in promotional deals;
        etc. This is not necessarily a great measure of people who have strong
        and positive feelings about crypto, or of people who would support the
        kinds of policies generally supported by the industry.
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          <mark aria-details="hostile">
            Additionally, 21% of non-Harris voters say that the Biden
            Administration has been &ldquo;a little too hostile&rdquo; or
            &ldquo;much too hostile&rdquo; on crypto.</mark
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="hostile" role="comment">
        If you were curious like I was: 7% of these &ldquo;non-Harris
        voters&rdquo; responded &ldquo;much too hostile&rdquo; and 14% responded
        &ldquo;a little too hostile&rdquo;. We&rsquo;re
        <i>really</i> in percent-of-a-percent territory here: we&rsquo;re
        talking about 7 people and 15 people (respectively). It&rsquo;s pretty
        wild that they&rsquo;re looking at 7 responses — 22 if we generously
        count those who don&rsquo;t feel as strongly — from a poll of more than
        800 people, and extrapolating that over the US population to claim that
        &ldquo;Democratic crypto voters are up for grabs this November&rdquo;.
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <h3>
        Takeaway 2: Democrats are worried about losing purchasing power and
        being cut off from the financial system.
      </h3>
    </div>
  </div>
  <div class="right">
    <div class="content empty"></div>
  </div>
</div>
<div class="group">
  <div class="left">
    <div class="content">
      <p>
        <mark aria-details="fin-priv" data-annotation-id="1"
          >A core goal of crypto – giving people greater ability to maintain
          financial privacy</mark
        >
        – resonates with Democrats.
        <mark aria-details="contrary" data-annotation-id="2"
          >Contrary to some suppositions, Democratic voters recognize the
          dangers of mass surveillance.</mark
        >
      </p>
      <p>Financial privacy is a core belief for Democratic voters.</p>
      <ul>
        <li>
          72% of respondents agreed that &ldquo;personal financial transactions
          should generally be kept private, and only made available to
          government agencies when needed for specific purposes.&rdquo;
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div
        class="annotation"
        id="fin-priv"
        role="comment"
        data-annotation-id="1"
      >
        This may be a <i>stated goal</i>, but it&rsquo;s far from a real-life
        feature of most popular cryptocurrencies. See my essays &ldquo;<a
          href="https://blog.mollywhite.net/abuse-and-harassment-on-the-blockchain/"
          >Abuse and harassment on the blockchain</a
        >&rdquo; and &ldquo;<a
          href="https://blog.mollywhite.net/anonymous-crypto-wallets/"
          >Anonymous cryptocurrency wallets are not so simple</a
        >&rdquo;, which go into more detail. In short, while banks keep records
        of financial transactions that they may later share with law
        enforcement, data on public blockchains is visible to anyone, including
        to law enforcement without a warrant. Blockchain analysis firms like
        Chainalysis (which has
        <a
          href="https://www.usaspending.gov/search/?hash=830eb292ad03ca0d59fc606284180839"
          >earned more than $80 million</a
        >
        from contracts with US federal government agencies alone, not to mention
        contracts with state-level organizations and non-US government and law
        enforcement clients)
        <a href="https://youtu.be/rz2x6ynCBi8?si=ERrvvlh9ASrqbfng&t=448"
          >like to brag</a
        >
        about just how easy crypto tracing is for them.
      </div>
      <div
        class="annotation"
        id="contrary"
        role="comment"
        data-annotation-id="2"
      >
        Who is supposing this other than Republican talking heads?
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          <mark aria-details="irs"
            >Just 15% took the view that &ldquo;personal financial transactions
            should generally be recorded in a place where it is easy for
            government agencies like the IRS to review
            transactions.&rdquo;</mark
          >
        </li>
      </ul>
      <div class="in-text-image wide bordered">
        <a href="https://storage.mollywhite.net/micro/dem_polling_image_2.png">
          <img
            src="https://storage.mollywhite.net/micro/dem_polling_image_2.png"
            alt="Thinking about the way people's financial transactions are handled, which of the following do you agree with more?
            72% Personal financial transactions should generally be kept private, and only made available to government agencies when needed for specific purposes
            13% Not sure
            15% Personal financial transactions should generally be recorded in a place where it is easy for government agencies like the IRS to review transactions"
        /></a>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="irs" role="comment">
        <p>
          This 15% is going to <i>love</i> blockchains, then.
          Cryptocurrency&rsquo;s reputation as a useful tool for tax evasion has
          primarily been a result of the IRS&rsquo;s lack of interest in
          scrutinizing once niche categories of transactions — and that is
          something that has been
          <a
            href="https://www.irs.gov/newsroom/irs-updates-draft-version-of-form-1099-da-digital-asset-proceeds-from-broker-transactions-requests-comments-on-form-planned-for-2025"
            >changing in recent times</a
          >.
        </p>
        <p>
          Notably, this poll did not ask any questions about respondents&rsquo;
          opinions on using cryptocurrencies to achieve financial privacy, and
          instead is simply assuming that respondents who want financial privacy
          would support crypto, and vice versa.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          Additionally,
          <mark aria-details="repro" data-annotation-id="1"
            >78% of respondents said it was extremely or very important that
            people have a way to pay for reproductive care without making their
            transactions known to their state government or the federal
            government</mark
          >; only 6% of Democrats disagreed.
        </li>
      </ul>
      <div class="in-text-image wide bordered">
        <mark
          class="image-mark"
          aria-details="dem-poll-3"
          data-annotation-id="2"
        >
          <a
            href="https://storage.mollywhite.net/micro/dem_polling_image_3.png"
          >
            <img
              src="https://storage.mollywhite.net/micro/dem_polling_image_3.png"
              alt="How important is it for people to have a way to pay for reproductive care without making their transactions known to their state government or the federal government?
            53% Extremely important
            25% Very important
            16% Somewhat important
            4% Not that important
            2% Not at all important"
          /></a>
        </mark>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="repro" role="comment" data-annotation-id="1">
        <p>
          Okay, putting the sarcasm aside for a minute here: please
          <i>for the love of god</i> do not put your abortions on the
          blockchain! Do not try to pay for your or another person&rsquo;s
          abortion using crypto, or encourage others to do so! This is an
          incredibly dangerous idea, as states are working to criminalize not
          only abortion, but also punish those who try to provide aid to others
          who need them. While there are a handful of cryptocurrencies that seek
          to provide some privacy for those who transact with them, the vast
          majority of popular cryptocurrencies do not.
        </p>
        <p>
          Another thing: while it&rsquo;s good of Paradigm to note the
          importance of financial privacy in situations where people are seeking
          medical care that has been criminalized or may be criminalized in the
          future, they should perhaps consider also not funding the
          <a href="https://www.citationneeded.news/issue-63/#state-primaries"
            >campaign of a candidate</a
          >
          who has supported incredibly strict anti-abortion laws,
          <a
            href="https://www.cnn.com/2022/08/26/politics/blake-masters-abortion-arizona-senate/index.html"
            >described</a
          >
          abortion rights activists as &ldquo;demonic&rdquo;, and said that
          abortion is a &ldquo;religious sacrifice to these [abortion rights
          activists].&rdquo; (Paradigm
          <a href="https://www.followthecrypto.org/companies/paradigm"
            >contributed</a
          >
          $500,000 to the cryptocurrency super PACs, which have spent about
          $583,000 on
          <a href="https://www.followthecrypto.org/elections/AZ-H-08"
            >Blake Masters&rsquo;</a
          >
          fortunately unsuccessful Republican primary campaign in
          Arizona&rsquo;s District 8.)
        </p>
      </div>
      <div
        class="annotation"
        id="dem-poll-3"
        role="comment"
        data-annotation-id="2"
      >
        Okay, who decided it was a good idea to make the affirmative responses
        go from dark blue to light blue as the respondents&rsquo; level of
        agreement gets less strong, but then use the dark orange to mark
        &ldquo;not that important&rdquo; and light orange for &ldquo;not at all
        important&rdquo;? I just want to talk to them, I swear...
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <p>
        Nearly all Democrats are also worried about protecting their purchasing
        power, matching the views of Republicans and Independents:
      </p>
    </div>
  </div>
  <div class="right">
    <div class="content empty"></div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          <mark aria-details="purhcasing-power"
            >80% of Democrats said it was &ldquo;very important&rdquo; or
            &ldquo;extremely important&rdquo; that their &ldquo;money maintains
            its purchasing power over time.&rdquo;</mark
          >
        </li>
      </ul>
      <div class="in-text-image wide bordered">
        <a href="https://storage.mollywhite.net/micro/dem_polling_image_4.png">
          <img
            src="https://storage.mollywhite.net/micro/dem_polling_image_4.png"
            alt="How important is it to you that your money maintains its purchasing power over time?
          44% Extremely important
          36% Very important
          16% Somewhat important
          2% Not that important
          2% Not at all important"
        /></a>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="purchasing-power" role="comment">
        I assume by now you have noticed the pattern in this section, which will
        continue throughout, where the poll asks a very broad question about a
        financial topic that few people would object to, then implies the
        response is an endorsement of cryptocurrencies. This was also a strategy
        in the
        <a
          href="https://www.citationneeded.news/2024-cryptocurrency-election-spending/#dcg-poll"
          >DCG poll</a
        >, which asked respondents to agree or disagree with statements like
        &ldquo;The current financial system lacks transparency&rdquo; and
        &ldquo;The cost and rules for participating in the current financial
        system are not designed to benefit the average person.&rdquo;
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <h3>
        Takeaway 3: Crypto is most popular among Democratic voters of color.
      </h3>
    </div>
  </div>
  <div class="right">
    <div class="content empty"></div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <p>
        When Democrats come out as pro-crypto,
        <mark aria-details="non-white" data-annotation-id="1"
          >they are following the lead of their own non-white base voters, who
          view crypto positively</mark
        >.
        <mark aria-details="prev-polling" data-annotation-id="2">
          Previous
          <a href="https://policy.paradigm.xyz/writing/March-2024-Polling"
            >Paradigm polling</a
          ></mark
        >
        has shown that
        <mark aria-details="non-white-2" data-annotation-id="3"
          >crypto ownership and support is strongest among non-white voters, and
          that is also true among non-white Democrats</mark
        >.
      </p>
      <ul>
        <li>18% of Democrats have bought crypto in the past.</li>
        <li>
          This number rises to 22% among Black Democrats, 25% among Hispanic
          Democrats, and 27% among Asian American and Pacific Islander
          Democrats.
        </li>
      </ul>
      <div class="in-text-image wide bordered">
        <a href="https://storage.mollywhite.net/micro/dem_polling_image_5.png">
          <img
            src="https://storage.mollywhite.net/micro/dem_polling_image_5.png"
            alt="Have you ever invested in, traded, or used a cryptocurrency such as Bitcoin or Ethereum?
            Overall 18%
            White 15%
            Black 22%
            Hispanic 25%
            ΑΑΡΙ 27%"
        /></a>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div
        class="annotation"
        id="non-white"
        role="comment"
        data-annotation-id="1"
      >
        <p>
          Paradigm seems to be using current or past ownership of
          cryptocurrencies as the metric by which they determine a person
          &ldquo;views crypto positively&rdquo;, which is
          <a href="#have-bought"
            >flawed for reasons I&rsquo;ve already described</a
          >.
        </p>
        <p>
          However, even if we put that aside and assume that the 18% figure (or
          15–27% when broken down by race) actually represents support for
          cryptocurrencies, it would seem that Democratic politicians who
          &ldquo;come out as pro-crypto&rdquo; would in fact be
          <i>failing</i> to follow the lead of the remaining 82% (or 73–85%) of
          their constituents who don&rsquo;t view crypto positively.
        </p>
        <p>
          It&rsquo;s also possible they&rsquo;re reaching this conclusion from
          the later question (not captured in a graphic), stating that 13–32% of
          respondents say that &ldquo;crypto plays a positive role in the U.S.
          economy&rdquo;. If that&rsquo;s the case, the inverse is roughly the
          same: 68–87% of respondents don&rsquo;t view crypto positively.
        </p>
      </div>
      <div
        class="annotation"
        id="prev-polling"
        role="comment"
        data-annotation-id="2"
      >
        <p>
          The March 2024 Paradigm poll cited here claimed that &ldquo;19% of
          American registered voters say they&rsquo;ve bought crypto.&rdquo; It
          is generally an interesting exercise to compare crypto industry
          polling results to polls from outside the industry (though there are
          variations in question formulation, namely with some polls asking
          about
          <mark class="highlight-1">current crypto ownership</mark> vs.
          <mark class="highlight-2">ever having owned crypto</mark>):
        </p>
        <h4>Non-industry-funded polls</h4>
        <ul>
          <li>
            <a href="">JPMorganChase, 2022</a>:
            <mark class="highlight-2"
              >15% of their American customers have conducted transfers to
              crypto accounts</mark
            >. (I suppose someone could argue that JPMorgan is an industry
            pollster, given their
            <a href="https://en.wikipedia.org/wiki/JPM_Coin"
              >blockchain forays</a
            >, but that is not their primary business. Take their numbers with
            grains of salt as you deem fit.)
          </li>
          <li>
            <a
              href="https://www.pewresearch.org/short-reads/2023/04/10/majority-of-americans-arent-confident-in-the-safety-and-reliability-of-cryptocurrency/"
              >Pew Research Center, March 2023</a
            >:
            <mark class="highlight-2"
              >17% of American adults have ever invested in, traded or used a
              cryptocurrency</mark
            >
          </li>
          <li>
            <a
              href="https://www.federalreserve.gov/publications/files/2023-report-economic-well-being-us-households-202405.pdf"
              >Federal Reserve, 2023</a
            >:
            <mark class="highlight-1"
              >7% of American adults hold or use cryptocurrency</mark
            >
          </li>
        </ul>
        <h4>Industry-funded polls</h4>
        <ul>
          <li>
            <a
              href="https://a16z.com/prediction-for-the-new-year-a-web3-midterm/"
              >Andreessen Horowitz, December 2021</a
            >:
            <mark class="highlight-1"
              >20% of American registered voters own crypto</mark
            >
          </li>
          <li>
            <a
              href="https://pro.morningconsult.com/trackers/cryptocurrency-adoption-and-perspectives"
              >Coinbase, 2022–2024</a
            ><sup><a href="#footnote-1">1</a></sup
            >:
            <mark class="highlight-1"
              >18.2% of American adults own crypto (varies over time between 16%
              and 22%)</mark
            >
          </li>
          <li>
            <a href="https://policy.paradigm.xyz/writing/March-2024-Polling"
              >Paradigm, March 2024</a
            >:
            <mark class="highlight-2"
              >19% of American registered voters have ever invested in, traded
              or used a cryptocurrency such as Bitcoin or Ethereum</mark
            >
          </li>
          <li>
            <a
              href="https://theblockchainassociation.org/wp-content/uploads/2024/05/DCG_HarrisPoll-Research-Report.pdf"
              >DCG, April 2024</a
            >:
            <mark class="highlight-1"
              >14% of registered voters in six swing states own crypto</mark
            >;
            <mark class="highlight-2"
              >26% own or have previously owned crypto</mark
            >
          </li>
        </ul>
        <p>
          To their credit, Paradigm&rsquo;s March poll is reasonably close to
          the Pew and JPMorgan surveys, particularly when compared to crypto
          industry surveys that have polled current crypto ownership and come in
          <i>way</i> higher than non-industry polls. In this poll, Paradigm asks
          about the amount of cryptocurrency respondents currently own later on,
          revealing that
          <mark class="highlight-1"
            >12% of their respondents <i>currently</i> own crypto</mark
          >
          (leaving 6% in the &ldquo;former owner&rdquo; bucket). This is quite
          high compared to the Federal Reserve&rsquo;s numbers, but considerably
          lower than the 20% figure Coinbase and others like to throw around.
        </p>
        <p>
          Paradigm also claimed to me that they&rsquo;ve found that providing
          examples of cryptocurrencies in their question (&ldquo;have you ever
          invested in, traded or used a cryptocurrency such as Bitcoin or
          Ethereum?&rdquo;) results in higher affirmative responses. This is
          surprising to me, since it would seem to suggest a significant number
          of people hold BTC or ETH but don&rsquo;t view them as
          cryptocurrencies.
        </p>
      </div>
      <div
        class="annotation"
        id="non-white-2"
        role="comment"
        data-annotation-id="3"
      >
        <p>
          Other recent polls (including
          <a
            href="https://www.pewresearch.org/short-reads/2023/04/10/majority-of-americans-arent-confident-in-the-safety-and-reliability-of-cryptocurrency/"
            >Pew&rsquo;s</a
          >) have had similar findings to Paradigm&rsquo;s: that people of color
          are somewhat more likely to have owned crypto than white respondents.
          This is generally treated by the cryptocurrency industry as a positive
          thing, and some influential crypto figures like to describe crypto as
          a particular opportunity for people of color to &ldquo;build
          generational wealth&rdquo; or access financial services they have
          historically not been able to access (sometimes using tactics that
          have been described as &ldquo;<a
            href="https://www.brookings.edu/articles/debunking-the-narratives-about-cryptocurrency-and-financial-inclusion/"
            >predatory inclusion</a
          >&rdquo;).
        </p>
        <p>
          However, the higher crypto ownership among people of color is a fairly
          recent development — and one that means that many of these investors
          bought in at all-time-highs in 2020 and 2021, with many later losing
          much of it in the 2022 crash. &ldquo;[R]ecent polls show a sharp
          decline in the share of Black Americans holding bitcoin, indicating
          that many folks might have bought high and sold low,&rdquo;
          <a
            href="https://www.theatlantic.com/ideas/archive/2022/11/black-investors-bitcoin-cryptocurrency-crash/671750/"
            >reported</a
          >
          Annie Lowrey in <i>The Atlantic</i> in November 2022.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <p>
        To be clear, crypto is the most popular among non-white Democrats
        regardless of ownership.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="content empty"></div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          <mark aria-details="positive"
            >28% of Black Democrats, 32% of Hispanic Democrats, and 27% of AAPI
            Democrats say that crypto plays a positive role in the U.S. economy.
            This is a massive jump compared to 13% of White Democrats who said
            the same.</mark
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="positive" role="comment">
        With polls like these, it&rsquo;s often informative to invert the
        numbers used in the conclusions they&rsquo;re trying to draw attention
        to. 68–87% of respondents <i>do not</i> agree that crypto plays a
        positive role in the U.S. economy. This is a significant majority, and
        it&rsquo;s worth considering why the authors of this report chose to
        focus on the minority of respondents who do agree.
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <h4>
        Takeaway 4: Crypto ownership is likely to grow among Democrats in the
        next 12 months.
      </h4>
    </div>
  </div>
  <div class="right">
    <div class="content empty"></div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <p>
        <mark aria-details="plan-to-buy" data-annotation-id="1"
          >More Democratic voters are saying they plan to buy crypto in the next
          12 months than have ever bought it before.</mark
        >
        If you needed additional proof that Democrats are warming to crypto,
        <mark aria-details="fire-bell" data-annotation-id="2">
          this is a fire bell in the night</mark
        >.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div
        class="annotation"
        id="plan-to-buy"
        role="comment"
        data-annotation-id="1"
      >
        <p>
          This is inaccurate. As the poll states in the second bullet point
          below, 17% of non-crypto-holding Democrats say they plan to purchase
          crypto in the next year, whereas 18% of Democrats overall have already
          bought crypto.
        </p>
        <p>
          I suspect this is an artifact of an earlier error in this poll
          summary. Bullet point two
          <a
            href="https://web.archive.org/web/20240812163928/https://policy.paradigm.xyz/writing/Dem-polling"
            >originally read</a
          >: &ldquo;This means about 27% of Democrats who haven&rsquo;t yet
          bought crypto are likely to buy in the next year.&rdquo; That seemed
          extremely high to me as a percentage of non-crypto-holding
          respondents, and after I inquired, Paradigm corrected the bullet point
          to 17%. However, they seem to have missed this conclusory sentence up
          here when making that correction.
        </p>
      </div>
      <div
        class="annotation"
        id="fire-bell"
        role="comment"
        data-annotation-id="2"
      >
        <p>
          <a
            href="https://pro.morningconsult.com/trackers/cryptocurrency-adoption-and-perspectives"
            >Polling</a
          >
          by Morning Consult (the firm that has been doing the polling for both
          Andreessen Horowitz and Coinbase mentioned above)<sup
            ><a href="#footnote-1">1</a></sup
          >
          has claimed that the percentage of respondents who were &ldquo;likely
          to purchase cryptocurrency in the next month&rdquo; has hovered
          relatively stably between 20% and 26% ever since they began polling in
          January 2022. However, the same polls <i>also</i> suggest that the
          percentage of respondents who hold crypto has remained relatively
          stable, with some increase going into April 2023, and some decline
          over the past year. The
          <a
            href="https://www.federalreserve.gov/publications/files/2023-report-economic-well-being-us-households-202405.pdf"
            >Federal Reserve survey</a
          >
          shows declining cryptocurrency ownership from 2021 to 2023.
        </p>
        <p>
          This suggests that, far from being a &ldquo;fire bell in the
          night&rdquo;, this may just be a poor indicator of actual future
          adoption. Either that, or people are getting out of crypto in such
          numbers that they are more than offsetting these supposed new
          adopters.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          <mark aria-details="likely"
            >9% of Democrats say they are very likely to invest in crypto in the
            next year, and another 18% of Democrats are somewhat likely to
            invest.</mark
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="likely" role="comment">
        This is out of all respondents, including those who do not currently own
        cryptocurrencies. It&rsquo;s probably safe to assume that some (though
        perhaps not many) of those 9% &ldquo;very likely&rdquo; respondents do
        not currently hold crypto, but even if we generously assume every single
        person in that 9% already holds, it seems noteworthy that at least half
        of the 18% of respondents who said they currently hold crypto are at
        best lukewarm about buying more of it going into the next year.
      </div>
    </div>
  </div>
</div>
<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          27% of Democrats are likely to buy in the next year, including about
          17% of Democrats who have never previously bought.
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content empty"></div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content no-margin">
      <div class="in-text-image wide bordered">
        <mark class="image-mark" aria-details="dem-poll-6">
          <a
            href="https://storage.mollywhite.net/micro/dem_polling_image_6.png"
          >
            <img
              src="https://storage.mollywhite.net/micro/dem_polling_image_6.png"
              alt="How likely are you to invest in cryptocurrency in the next 12 months?
            Very likely 9%
            Somewhat likely 18%
            Not that likely 18%
            Not at all likely 54%"
          /></a>
        </mark>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="dem-poll-6" role="comment">
        Again, the <i>other</i> numbers hidden away in the graphic here seem
        notable. A full half of respondents slammed the &ldquo;hell no&rdquo;
        button when asked if they might like to try out crypto in the upcoming
        year. Almost 3 in 4 were varying degrees of unlikely to get involved.
        This roughly aligns with
        <a
          href="https://www.pewresearch.org/short-reads/2023/04/10/majority-of-americans-arent-confident-in-the-safety-and-reliability-of-cryptocurrency/"
          >Pew&rsquo;s</a
        >
        findings in 2023 that 75% of Americans who have heard of
        cryptocurrencies are not confident in their safety and reliability.
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <h4>
        Takeaway 5: Crypto ownership among Democrats is
        <mark aria-details="parity" data-annotation-id="1"
          >approaching parity</mark
        >
        with stock ownership and
        <mark aria-details="continues-grow" data-annotation-id="2"
          >continues to grow</mark
        >.
      </h4>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="parity" role="comment" data-annotation-id="1">
        Even assuming these numbers are good (<a href="#stock">see later</a>),
        it is not at all clear to me how 12% current ownership of crypto can be
        interpreted as &ldquo;approaching parity&rdquo; with 33% ownership of
        stocks. I guess if you had historical data that showed &lt;12% current
        ownership, then any increase would be &ldquo;approaching parity&rdquo;
        in a sense... but Paradigm doesn&rsquo;t mention having any historical
        data besides the polls they conducted on different demographic groups
        earlier this year. Year-over-year data from other pollsters show crypto
        ownership remaining roughly flat (<a
          href="https://pro.morningconsult.com/trackers/cryptocurrency-adoption-and-perspectives"
          >crypto industry polls</a
        >) or decreasing (<a
          href="https://www.federalreserve.gov/publications/files/2023-report-economic-well-being-us-households-202405.pdf"
          >non-crypto industry polls</a
        >).
      </div>
      <div
        class="annotation"
        id="continues-grow"
        role="comment"
        data-annotation-id="2"
      >
        Again, not clear where this claim is coming from, given their lack of
        historical data. My best guess is they&rsquo;re just going off of the
        respondents who said they were likely to purchase crypto going forward —
        which,
        <a href="#fire-bell">as I said</a>, seems to be a dubious indicator of
        actual growth. Remember <a href="#gravitating">at the beginning</a> when
        I said we would come back to the opening claim that &ldquo;Democratic
        voters are increasingly gravitating towards crypto&rdquo;? This is that
        moment.
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <p>
        Based on our data, millions of Democratic voters own tens of thousands
        of dollars of crypto. These are significant holdings for any asset, the
        kind that drive voting behavior:
      </p>
    </div>
  </div>
  <div class="right">
    <div class="content empty"></div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          At present, 18% of Democrats have bought crypto, with 12% currently
          owning and 6% having previously bought it but no longer owning it.
          <mark aria-details="stock"
            >33% of respondents currently own stock.</mark
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="stock" role="comment">
        This is <i>significantly</i> lower than the numbers reported by
        <a
          href="https://news.gallup.com/poll/266807/percentage-americans-owns-stock.aspx"
          >Gallup</a
        >, which showed that 61% of Americans owned stocks<sup
          ><a href="#footnote-2">2</a></sup
        >
        in 2023, with that number ranging between 50% and 60% for the past
        decade. However, Paradigm&rsquo;s number is closer to the results for a
        question from a 2019 poll by
        <a
          href="https://www.pewresearch.org/short-reads/2020/09/25/few-in-u-s-owned-stocks-outside-of-401ks-in-2019-fewer-said-market-had-a-big-impact-on-their-view-of-economy/"
          >Pew Research</a
        >, which found that 35% of respondents <i>directly</i> owned stocks
        outside of retirement accounts, and 55% had IRAs, 401(k)s, or similar
        retirement accounts.<sup><a href="#footnote-3">3</a></sup> This makes me
        think people may have been interpreting the question by Paradigm in the
        latter way, but the definition probably should have been made clearer
        both in the question and in this poll summary.
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          <mark aria-details="last-year"
            >8% of Democrats first bought crypto within the last year</mark
          >, with 3% having bought crypto in the past few months and 2% buying
          in the past few weeks.
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="last-year" role="comment">
        This is surprisingly high when compared to their finding that 12% own
        crypto, full stop. This may support the
        <a href="#fire-bell">hypothesis I mention above</a> that a substantial
        number of people who bought in a year or more ago have since sold off
        those holdings.
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          8% of respondents say
          <mark aria-details="1000"
            >they currently own more $1000 in crypto</mark
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="1000" role="comment">
        I wonder how many of these respondents could feasibly liquidate their
        crypto holdings for the dollar amounts they&rsquo;re estimating, and how
        many just have
        <a
          href="https://blog.mollywhite.net/cryptocurrency-market-caps-and-notional-value/#price"
          >&ldquo;$1,000&rdquo; on paper</a
        >.
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          <mark aria-details="10k"
            >5% of respondents own more than $10,000 in crypto.</mark
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="10k" role="comment">
        <p>
          These figures don&rsquo;t really line up with other estimates, such as
          from a
          <a
            href="https://www.jpmorganchase.com/institute/all-topics/financial-health-wealth-creation/dynamics-demographics-us-household-crypto-asset-cryptocurrency-use"
            >2022 JPMorgan survey</a
          >
          that claimed that &ldquo;the median gross amount transferred to crypto
          accounts over the period 2015 through the first half of 2022 was
          approximately $620&rdquo;. They also found that, out of people who
          hold crypto, about 11–15% of them have transferred one month of income
          or more into crypto accounts, and 4–6% have transfered three or more
          months of income. Doing some <i>extremely rough</i> napkin math: the
          median monthly income is approximately $5,000. JPMorgan found that 15%
          of their sample had transferred funds to crypto accounts. 11–15% of
          that 15% is 1.65–2.25% of the total sample who have transferred, based
          on median income, $5,000 or more. 4–6% of that 15% is 0.6–0.9% who
          have transferred, based on median income, $15,000 or more.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          Underscoring crypto&rsquo;s popularity among non-white Democrats, 10%
          of Hispanic Democrats polled own more than $10,000 in crypto, and 9%
          of AAPI Democrats own more than $10,000 in crypto.
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content empty"></div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content no-margin">
      <div class="in-text-image wide bordered">
        <mark class="image-mark" aria-details="dem-poll-7">
          <a
            href="https://storage.mollywhite.net/micro/dem_polling_image_7.png"
          >
            <img
              src="https://storage.mollywhite.net/micro/dem_polling_image_7.png"
              alt="Please indicate how much cryptocurrency you currently own.
              Does not own cryptocurrency 88%
              Less than $1,000
              4%
              $1,000-$9,999
              2%
              $10,000-$24,999
              2%
              $25,000-$49,999
              1%
              $50,000-$99,999
              1%
              $100,000 or more
              1%
              Total: Under $10,000
              6%
              Total: $10,000 or more
              5%"
          /></a>
        </mark>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="dem-poll-7" role="comment">
        <p>
          Is it just me or do these seem like surprisingly round numbers?
          Usually things like this have a bit of a long tail to them, and it
          seems unlikely that there are really the same number of people who own
          between $25,000 and $50,000 of crypto as there are those who own more
          than $100,000. It makes me wonder if Paradigm is rounding each group
          up to the nearest whole number, and then compounding the error by
          adding the rounded numbers together. Paradigm did not immediately
          respond to a follow-up question about this detail.
        </p>
        <p>
          Also, now that Paradigm is once again presenting figures in the 1–2%
          range, I am once again obligated to point out that the stated margin
          of error for this poll is 3.5%.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <h4>
        Takeaway 6: Much like Republican voters, Democratic voters are concerned
        about being cut off from the financial system, especially under a second
        Trump Administration.
      </h4>
      <p>
        Democratic voters are open to options outside the traditional financial
        system, and want financial freedom as much as Republicans. The specter
        of another Trump Administration is creating intense pressure on
        Democrats to find alternative means of protecting their access to
        financial services.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="content empty"></div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          <mark aria-details="fin-serv"
            >62% of Democratic voters are concerned that they, their family, or
            their business &ldquo;may lose access to financial services as a
            result of your political views,&rdquo; with just 38% not being
            concerned.
          </mark>
        </li>
      </ul>
      <div class="in-text-image wide bordered">
        <a href="https://storage.mollywhite.net/micro/dem_polling_image_8.png">
          <img
            src="https://storage.mollywhite.net/micro/dem_polling_image_8.png"
            alt="How concerned are you, if at all, that you, your family, or your business might lose access to financial services as a result of your political views?
            Very concerned 28%
            Somewhat concerned 34%
            Not that concerned 22%
            Not at all concerned 16%"
        /></a>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="fin-serv" role="comment">
        <p>
          This portion of the poll summary was by far the most surprising to me.
          I asked Paradigm for more details on this question, but they told me
          that they had not given respondents examples of what this might look
          like, nor did they collect open-ended responses or do interviews to
          get a better sense of what people were envisioning when they responded
          in this way.
        </p>
        <p>
          While it doesn&rsquo;t surprise me that there are people who are
          concerned about losing access to financial services generally
          speaking, or perhaps about cutbacks of programs like social security,
          food or housing assistance, or Medicare/Medicaid, I was surprised to
          see such a high percentage of people who believed that a) that this
          would come as a direct result of their political views, and that b) it
          would affect them personally (vs. some hypothetical more radical
          person — for example, someone running an abortion fund — who might end
          up in the crosshairs of a politically motivated debanking campaign).
        </p>
        <p>
          I wonder to what extent people are thinking less of politically
          motivated termination of financial services and are instead reflecting
          their broader concerns about financial topics like inflation and
          housing affordability.
        </p>
        <p>Paradigm seemed surprised by the results as well.</p>
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <ul>
        <li>
          <mark aria-details="fin-serv">
            80% of respondents said they were concerned that a second Trump
            Administration would cut off their family&rsquo;s access to
            financial services.
          </mark>
        </li>
      </ul>
      <div class="in-text-image wide bordered">
        <a href="https://storage.mollywhite.net/micro/dem_polling_image_9.png">
          <img
            src="https://storage.mollywhite.net/micro/dem_polling_image_9.png"
            alt="If Trump is elected in 2024, how concerned are you, if at all, that the new Trump Administration might cut off your own or your family's access to financial services?
            Very concerned 59%
            Somewhat concerned 21%
            Not that concerned 13%
            Not at all concerned 7%"
        /></a>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="fin-serv-trump" role="comment">
        <p>
          Continuing what I was saying above, I was really surprised at just how
          many people believe that <i>they personally</i> (or their family)
          might be cut off from financial services, versus agreeing that Trump
          is likely to cut of <i>some people&rsquo;s</i> access to financial
          services.
        </p>
        <p>
          But, <a href="purchasing-power">as I said previously</a>, this is
          another one of those questions that implies that crypto is one of
          these &ldquo;alternative means of protecting their access to financial
          services&rdquo; that they mention above, without actually asking
          respondents about their opinions about crypto&rsquo;s viability for
          such a purpose.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="group">
  <div class="left">
    <div class="content">
      <h4>
        <mark aria-details="lead"
          >Takeaway 7: Democrats want the United States to be a world leader in
          crypto.</mark
        >
      </h4>
      <p>Democrats want crypto innovation in the United States:</p>
      <ul>
        <li>
          43% of Democrats said it was either very important or extremely
          important that the &ldquo;United States leads the world in high-tech
          software innovations such as cryptocurrency and fintech,&rdquo; with
          another 38% saying it was somewhat important.
        </li>
        <li>
          Just 8% of Democrats said the U.S. leading the world in these
          innovations was &ldquo;not at all important&rdquo;.
        </li>
      </ul>
      <div class="in-text-image wide bordered">
        <a href="https://storage.mollywhite.net/micro/dem_polling_image_10.png">
          <img
            src="https://storage.mollywhite.net/micro/dem_polling_image_10.png"
            alt="How important is it that the United States leads the world in
          high-tech software innovations, such as cryptocurrency and fintech
          (software for financial services like banking and investing)?
          Extremely important 19% Very important 24% Somewhat important 38% Not
          that important 11% Not at all important 8%"
        /></a>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="annotation" id="lead" role="comment">
        <p>
          It seems to me that if you&rsquo;re looking to find out if
          &ldquo;Democrats want the United States to be a world leader in
          crypto&rdquo;, you should ask questions like &ldquo;How important is
          it that the United States leads the world in cryptocurrency?&rdquo;,
          and <i>not</i> &ldquo;How important is it that the United States leads
          the world in high-tech software innovations, such as cryptocurrency
          and fintech (software for financial services like banking and
          investing)?&rdquo;
        </p>
        <p>
          I, for one, think the US has a long ways to go when it comes to
          fintech, which could be <i>so</i> much better. I&rsquo;m not too
          precious about where that software is developed, but as an American
          I&rsquo;d sure love to be able to use it instead of still having to
          write <i>checks</i> from time to time, so I&rsquo;d probably answer
          somewhere in the &ldquo;important&rdquo; spectrum on a question like
          this. Does this mean I think the US should be a &ldquo;world leader in
          crypto&rdquo;? No. Does it mean that I think the way to make US crypto
          and fintech firms &ldquo;world leaders&rdquo; is to slash regulations?
          Also no.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="group last">
  <div class="left">
    <div class="content">
      <mark aria-details="strong-sign" data-annotation-id="1"
        >This is a strong sign</mark
      >
      that, contrary to actions by some Biden Administration officials,
      Democratic voters want crypto innovation centered here in America.
      <mark aria-details="harris" data-annotation-id="2"
        >It also should give Democratic Members of Congress and the Harris
        campaign confidence</mark
      >
      that
      <mark aria-details="reasonable" data-annotation-id="3"
        >Democratic voters want reasonable legislation passed crafting a
        regulatory regime for crypto.</mark
      >
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div
        class="annotation"
        id="strong-sign"
        role="comment"
        data-annotation-id="1"
      >
        It is not.
      </div>
      <div class="annotation" id="harris" role="comment" data-annotation-id="2">
        The &ldquo;we&rsquo;re just trying to better understand Democrats&rsquo;
        opinions on crypto&rdquo; mask slips again here, with Paradigm making it
        pretty clear that they are not merely trying to be a neutral observer of
        the political landscape, but rather are working to craft a narrative
        that they think could push Democratic lawmakers towards embracing crypto
        and passing the legislation that the industry has been lobbying for.
      </div>
      <div
        class="annotation"
        id="reasonable"
        role="comment"
        data-annotation-id="3"
      >
        Statements like this are <i>so irritating</i> to me because they
        <i>say nothing</i>. Who doesn&rsquo;t want a reasonable regulatory
        regime? No one is going to raise their hand and say &ldquo;actually, I
        think we should make our regulations <i>less reasonable</i>&rdquo;. But
        rather than actually asking respondents about their opinions on specific
        regulatory proposals, Paradigm is just concluding that they want
        &ldquo;reasonable&rdquo; legislation, which can be defined however is
        most convenient for the industry at some later point.
      </div>
    </div>
  </div>
</div>

<div class="outro">
  <p>
    Altogether, this poll is a mixed bag. Compared to some of the other industry
    polls, Paradigm does seem to have paid more attention to ensuring a
    representative sample; the Paradigm person I spoke to told me that they had
    taken care to ask some level-setting questions regarding things like who
    they&rsquo;d voted for in the past, which they were then able to compare
    with other polls to check that they roughly aligned.
  </p>
  <p>
    However, as I mention in my commentary throughout, many of the questions
    seem designed to elicit specific responses that could then be used in the
    summary to imply strong support for cryptocurrency, despite not mentioning
    the topic. While I have no issue with Paradigm deciding to poll about, say,
    financial privacy, attitudes about inflation, or concerns about access to
    financial services, they should not be using those responses to suggest that
    Democrats support cryptocurrency when they haven't
    <i>actually asked the respondents about cryptocurrency</i> in relation to
    those issues.
  </p>
  <p>
    Finally, Paradigm&rsquo;s bias as a cryptocurrency firm shines through this
    poll summary, much as has happened with other industry polls, making clear
    that the goal of these exercises is not to learn more about or educate
    people about attitudes towards cryptocurrency, but rather to try to convince
    people that cryptocurrency is a major issue in the upcoming elections.
  </p>
  <p>
    While bias perhaps ought to be expected from industry-funded polling, these
    polls are often cited in the media and by politicians as if they were
    neutral, often without clearly disclosing the poll source. This is why I
    feel it’s so important to expose the flaws and biases in these summaries.
    Even if it may not be possible to convince the industry to do more objective
    polling (and, critically, write more objective summaries of these polls), I
    at least hope to inform people about the flaws, and urge journalists and
    others to be extremely cautious about citing them.
  </p>
  <h2>Footnotes</h2>
  <ol class="footnotes">
    <li id="footnote-1">
      The methodology of this survey has been
      <a
        href="https://amycastor.com/2024/07/20/smear-campaigns-and-false-narratives-how-the-crypto-lobby-seeks-to-influence-us-politics-by-jake-donoghue/"
        >heavily criticized</a
      >
      by statistician David Marker in an interview with crypto critic Jake
      Donoghue. Marker opined, &ldquo;This survey has not provided enough
      information to refute claims of it being low quality and spurious.
      [Morning Consult] hasn&rsquo;t presented evidence to make you feel
      comfortable… with a survey which was funded by an organization which would
      like and benefit from these results.&rdquo; He noted that there was a
      &ldquo;potentially nullifying&rdquo; flaw in the survey methodology;
      Morning Consult did not respond to repeated requests for clarification on
      this point, despite having responded to other questions from those
      commentators previously.
    </li>
    <li id="footnote-2">
      &ldquo;Do you, personally, or jointly with a spouse, have any money
      invested in the stock market right now -- either in an individual stock, a
      stock mutual fund, or in a self-directed 401(k) or IRA?&rdquo;
    </li>
    <li id="footnote-3">
      &ldquo;Personal investments in stocks/bonds/mutual funds other than those
      held in an IRA/401(k)&rdquo;
    </li>
  </ol>

  <div class="fine-print">
    <p>
      Copyright to the original poll summary belongs to Paradigm, and it can be
      read in its original form in full at
      <a href="https://policy.paradigm.xyz/writing/Dem-polling"
        >policy.paradigm.xyz</a
      >. It is republished here for the purposes of critical commentary.
    </p>
    <p>
      Molly White has a
      <a href="https://www.mollywhite.net/crypto-disclosures"
        >cryptocurrency disclosure</a
      >.
    </p>
    <p>
      Built with
      <a href="https://github.com/molly/annotate" target="_blank">annotate</a>.
    </p>
  </div>
</div>

{%endblock%} {% block js %}
{{ super() }}
<script src="/assets/js/reviews.js "></script>
{% endblock %}
