---
title: "404 – Molly White"
description: "404: Page not found"
page_class: "four-oh-four"
path: "/404"
---

{% extends "layouts/with-nav.njk" %}
{% block content %}
  <p>You're all kinds of lost.</p>
{% endblock %}