---
permalink: /blogs{{pageState}}.opml.xml
pagination:
  data: pageStates
  size: 1
  alias: pageState
  generatePageOnEmptyData: true
pageStates:
  -
  - NoSubstack
---
<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.0">

  <head>
    <title>Blog feeds for Molly White's blogroll</title>
    <dateCreated>{{ page.date | dateToRfc822 }}</dateCreated>
  </head>

  <body>
    <outline text="Blogs" title="Blogs">
      {% for site in blogsBlogroll|sortBlogs %}
        {% if site.tags and 'Substack' not in site.tags or pageState != 'NoSubstack' %}
      <outline text="{{ site.text if site.text else site.author }}" title="{{ site.text if site.text else site.author }}"
        type="rss" xmlUrl="{{ site.xmlUrl }}" htmlUrl="{{ site.htmlUrl }}" />
        {% endif %}
      {% endfor %}
    </outline>
  </body>
</opml>