---
title: "Contact – Molly White"
layout: layouts/with-nav.njk
description: "Molly White's contact information."
path: "/contact"
page_class: "contact"
---

<h1>Contact</h1>
<p>The best way to get in touch with me is via email to <a href="mailto:molly@mollywhite.net">molly@mollywhite.net</a>.
  You can also reach me on Twitter, where I am <a href="https://twitter.com/molly0xFFF">molly0xfff</a>.</p>
<p>If you want to get in touch with me about something to do with Wikipedia, please see my <a
    href="/wikipedia-contact">Wikipedia contact info</a>.</p>
<h2>Other social media</h2>
<p>Email and Twitter are the best ways to contact me, but for verification purposes these accounts also belong to me:
  {% include "social.njk" %}
</p>


<h2>Notes</h2>
<ul>
  <li>I don't widely use the username "GorillaWarfare" outside of Wikipedia contexts, so other "GorillaWarfare"s around
    the net are probably not me.</li>
  <li>I don't have a "backup" personal Twitter or Mastodon account. If there's an account that looks like me
    but has a slightly different username from <code class="no-ligatures">molly0xfff</code> (on Twitter) or
    <code class="no-ligatures">molly0xfff@hachyderm.io</code> (Mastodon), it's
    most likely an imposter that will try to DM you running some kind of
    crypto scam, which has been happening unfortunately frequently. I'd appreciate it if you'd report accounts like this
    if you come across them.
  </li>
</ul>