---
title: "Freelance writing – Molly White"
description: "Molly White's freelance writing"
page_class: "resume"
path: "/resume"
---

{% extends "layouts/with-nav.njk" %} {% block content %}
<h1>Freelance writing</h1>
<p>
  I occasionally do freelance writing on technology topics, and have bylines in
  <i>The New York Times</i>, <i>The Guardian</i>, <i>Bloomberg Businessweek</i>,
  and <i>Rolling Stone</i>:
</p>
<ul>
  <li>
    December 2024: “<a
      href="https://www.bloomberg.com/news/articles/2024-12-17/crypto-got-what-it-wanted-in-the-us-election-here-s-what-s-next"
      >Crypto Got What It Wanted in November’s Election. Now What?</a
    >”, <i>Bloomberg Businessweek</i>
  </li>
  <li>
    May 2024: “<a
      href="https://www.bloomberg.com/news/features/2024-05-02/crypto-is-anything-but-strong-right-now"
      >The State of Crypto Is Anything But Strong</a
    >”, <i>Bloomberg Businessweek</i>
  </li>
  <li>
    March 2024: “<a
      href="https://www.theguardian.com/global/commentisfree/2024/mar/28/sam-bankman-fried-prison-crypto-regulation"
      >Sam Bankman-Fried is going to prison. The crypto industry isn't any
      better for it</a
    >”, <i>The Guardian</i>
  </li>
  <li>
    November 2023: “<a
      href="https://www.nytimes.com/2023/11/08/opinion/fraud-crypto-ftx-trial.html"
      >Sam Bankman-Fried and the People Who Gave Up Their Money for Nothing</a
    >”, <i>The New York Times</i>
  </li>
  <li>
    June 2023: “<a
      href="https://www.rollingstone.com/culture/culture-features/binance-coinbase-sec-investigation-crypto-1234768202/"
      >The Feds Are Coming for Crypto. Can It Survive?</a
    >”, <i>Rolling Stone</i>
  </li>
  <li>
    November 2022: “<a
      href="https://www.theguardian.com/commentisfree/2022/nov/14/why-did-one-of-the-worlds-biggest-cryptocurrency-exchanges-just-collapse"
      >Why did one of the world's biggest cryptocurrency exchanges just
      collapse?</a
    >”, <i>The Guardian</i>
  </li>
</ul>
{% endblock %}
