---
title: "PGP – Molly White"
description: "Molly White's PGP key."
page_class: "pgp"
path: "/pgp"
---

{% extends "layouts/with-nav.njk" %} {% block content %}

<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

xjMEaC47vxYJKwYBBAHaRw8BAQdAq7vGNRLjeaM6aNHAB1jZyz7xz4szgl9I
ZB/rBkPXPtDNK21vbGx5QG1vbGx5d2hpdGUubmV0IDxtb2xseUBtb2xseXdo
aXRlLm5ldD7CwBEEExYKAIMFgmguO78DCwkHCZBBd4/bgByTXkUUAAAAAAAc
ACBzYWx0QG5vdGF0aW9ucy5vcGVucGdwanMub3JnxGM3pFJVFbIdlQh8+TWI
B2xRvd3QZxxd3+cEBgBuY18DFQoIBBYAAgECGQECmwMCHgEWIQQz+coK6Qah
hkzAHRJBd4/bgByTXgAA8MwA/0nnbVZya/0D1fXy/wC8/mvlIg8vPwRhBAFZ
yngCzb/9AP9N4YziiFRxPIrK2YKeElJnSfOVL4b1lIDt2eBztRnmDM44BGgu
O78SCisGAQQBl1UBBQEBB0AvcdKxrQmpE2lSJsankIS/ji3LWBQlmEfAtspe
V57uHgMBCAfCvgQYFgoAcAWCaC47vwmQQXeP24Ack15FFAAAAAAAHAAgc2Fs
dEBub3RhdGlvbnMub3BlbnBncGpzLm9yZ+/Ot2o3bZALqnh1RnLzoIyJenoE
rV0WPjtjGT8+1i2tApsMFiEEM/nKCukGoYZMwB0SQXeP24Ack14AAEi5AP95
ayb4Jewg5XNG5x3wRsCSx8D12a89cQa57SikBF/FRQD/cvyTbL3PSVwIydO6
dvDO/eXUhiGMrqu+e75t0Kco+A0=
=JVLT
-----END PGP PUBLIC KEY BLOCK-----
</pre>

<p>
  This key was updated on May 21, 2025. The previous key will continue to work
  for a while, but I recommend you update to this key as soon as possible.
</p>

{% endblock %}
