---
title: "Resumé – Molly White"
description: "Molly White's resumé"
page_class: "resume"
path: "/resume"
---

{% extends "layouts/with-nav.njk" %}
{% block content %}
<div class="resume-block">
  <h2>Work</h2>
  <div class="line-with-year">
    <span>
      <h3 class="h4">Harvard University Library Innovation Lab</h3>
    </span>
    <span class="year bold">November 2022–present</span>
  </div>
  <div class="resume-sub-block section">
    <span class="bold">Fellow</span>
    <div class="resume-description">
      Year-long fellowship to continue my research and work surrounding the cryptocurrency and blockchain industries, as
      well as topics including online governance, digital identity, and the future of the web. Some of my work with the
      LIL has included:
      <ul>
        <li>
          "<a
            href="https://hls.harvard.edu/events/web3-is-going-just-where-a-fireside-chat-with-molly-white-and-jonathan-zittrain/">
            Web3 Is Going Just Where?</a>" fireside chat with Molly White and Jonathan Zittrain, January 2023
        </li>
        <li>"Challenges, opportunities, skepticism on Web3" conversation with Dr. Shlomit Wagman and Molly White at the
          "Web3: What don't we know about it yet?" workshop at Harvard University, February 2023</li>
        <li>"<a href="https://hlsbeyond.law.harvard.edu/events-2022-23/">Blockchain Solutions to Socio-Political
            Problems: An Exploration of Current Issues in Web3</a>" seminar series, March–April 2023</li>
      </ul>
    </div>
  </div>
  <div class="line-with-year">
    <span>
      <h3 class="h4">Independent</h3>
    </span>
    <span class="year bold">December 2021–present</span>
  </div>
  <div class="resume-sub-block section">
    <span class="bold">Researcher and writer</span>
    <div class="resume-description">
      I founded and maintain the website <i>
        <a href="https://web3isgoinggreat.com/">Web3 is Going Just Great</a>
      </i>, which highlights examples of how cryptocurrency and web3 projects are failing to live up to their promises.
      I also write a <a href="https://newsletter.mollywhite.net/">popular newsletter</a> that covers topics pertaining
      to the cryptocurrency industry. I have written essays outlining issues with crypto-utopianism and
      techno-solutionism, and my expertise has been featured in publications including <i>The Wall Street Journal</i>,
      <i>The New York Times</i>, <i>Financial Times</i>, and NPR. I've also advised various lawmakers, regulators, and
      other governmental officials within and outside of the United States. Some of my work has included:
      <ul>
        <li>"<a href="https://www.youtube.com/watch?v=hXBZ-BXfCSY">Abuse on the blockchain</a>" guest lecture at
          Stanford University, March 2022</li>
        <li>"<a href="https://www.youtube.com/watch?v=G0k_GjxuJDM">Blockchain solutionism</a>" guest lecture at the
          University of Texas at Austin, September 2022</li>
        <li>"<a href="https://www.youtube.com/watch?v=AGsllEF7w_g">Is web3 bullshit?</a>" talk at Web Summit, November
          2022
        </li>
        <li>"<a
            href="https://www.theguardian.com/commentisfree/2022/nov/14/why-did-one-of-the-worlds-biggest-cryptocurrency-exchanges-just-collapse">Why
            did one of the world's biggest cryptocurrency exchanges just collapse?</a>", published in
          <i>The Guardian</i>, November 2022
        </li>
        <li>Testimony on "<a href="https://mollywhite.net/storage/pdfs/Bundestag-statement.pdf">Web 3.0 and the
            Metaverse</a>" to the German Bundestag (<a
            href="https://www.bundestag.de/resource/blob/926182/c5d7edf957872ea3b724ad0a7341e3c8/Stellungnahme-White-data.pdf">written
            statement</a>), December 2022</li>
        <li>"<a href="https://www.mollywhite.net/speaking/#popping-bubble">Popping the Web3 Bubble</a>" conversation at
          South by Southwest, March 2023.</li>
      </ul>
      See my other <a href="/speaking">speaking</a>, <a href="https://blog.mollywhite.net/blockchain/">writing</a>, and
      <a href="/press">press coverage</a>.
    </div>
  </div>
  <div class="line-with-year">
    <h3 class="h4">HubSpot</h3>
    <span class="year bold">2014–2022</span>
  </div>
  <div class="resume-sub-block">
    <div class="line-with-year">
      <span class="title">Tech lead</span>
      <span class="year">November 2017–May 2022</span>
    </div>
    <div class="resume-description">
      I spent more than four years as a tech lead for several teams working on HubSpot's developer platform and tooling.
      I took an active development role while also building high-performing teams and collaborating with engineering
      leadership, product management, and product design to lead team direction. Throughout, I mentored and worked
      alongside engineers who were anywhere from intern to senior level, and mentored several people into senior
      engineer and tech lead roles.
    </div>
    <div class="line-with-year">
      <span class="title">Senior software engineer</span>
      <span class="year">July 2017–November 2017</span>
    </div>
    <div class="line-with-year">
      <span class="title">Software engineer</span>
      <span class="year">May 2016–July 2017</span>
    </div>
    <div class="line-with-year">
      <span class="title">Software engineering co-op</span>
      <span class="year">May–September 2015, July–December 2014</span>
    </div>
  </div>
</div>
<div class="resume-block">
  <h2>Recognition</h2>
  <ul>
    <li>
      <i>Fast Company's</i> "<a href="https://www.fastcompany.com/90775278/the-new-rules-of-creativity-for-2022">2022
        Most Creative</a>", August 2022
    </li>
    <li>
      <i>Forbes'</i> "<a
        href="https://www.forbes.com/pictures/6377d1f0378f803ad41a9f12/molly-white/?sh=5a6093ff6d9e">2023 30 Under
        30</a>", November 2022
    </li>
    <li>Northeastern University's "<a href="https://www.khoury.northeastern.edu/40th/40-for-40-molly-white/">40 for
        40</a>" Khoury College of Computer Sciences honoree, November 2022</li>
    <li>
      <i>CoinDesk's</i> "<a
        href="https://www.coindesk.com/consensus-magazine/2022/12/05/molly-white-most-influential-2022/">Most
        Influential
        2022</a>", December 2022
    </li>
    <li><i>The Boston Globe's</i> "<a
        href="https://bostontechleaders2023.bostonglobe.com/people/molly-white-web3-is-going-just-great/">2023 Tech
        Power
        Players</a>", May 2023.</li>
  </ul>
  <h4 class="h5">Selected <a href="/press">press</a>
  </h4>
  <ul>
    <li>"<a
        href="https://www.theinformation.com/articles/cryptos-csi-how-molly-white-became-an-absolute-nightmare-for-web3-evangelists">Crypto's
        CSI: How Molly White Became an 'Absolute Nightmare' for Web3 Evangelists</a>", <i>The Information</i>, April
      2022.</li>
    <li>"<a href="https://wapo.st/3N4KkrB">First she documented the alt-right. Now she's coming for crypto.</a>",
      <i>The Washington Post</i>, May 2022.
    </li>
    <li>"<a
        href="https://www.theguardian.com/commentisfree/2022/jul/02/crypto-sceptic-molly-white-could-be-the-new-jk-galbraith-just-much-tougher">Crypto-sceptic
        Molly White could be the new JK Galbraith... just much tougher</a>". <i>The Guardian</i>, July 2022.</li>
    <li>"<a
        href="https://www.bostonglobe.com/2022/07/11/business/meet-molly-white-mass-software-engineer-going-after-crypto-industry/">Meet
        Molly White, the Mass. software engineer going after the crypto industry</a>", <i>The Boston Globe</i>, July
      2022.</li>
    <li>"<a
        href="https://www.fastcompany.com/90762802/molly-white-web3-going-just-great-most-creative-people-2022">Molly
        White
        tried to tell you Web3 was not going great before the crypto crash</a>", <i>FastCompany</i>, August 2022.
    </li>
    <li>"<a href="https://www.cjr.org/the_media_today/cjr_editors_watching_2023.php">What we're watching in 2023</a>",
      <i>Columbia Journalism Review</i>, January 2023.
    </li>
    <li>"<a href="https://www.wired.co.uk/article/molly-white-crypto-scams">Molly White Tracks Crypto Scams. It's Going
        Just Great</a>", <i>Wired UK</i>, May 2023.</li>
  </ul>
</div>
<div class="resume-block">
  <h2>Education</h2>
  <div>
    <div class="line-with-year">
      <span>
        <strong>Northeastern University</strong> —&nbsp;Bachelor's Degree in Computer Science</span>
      <span class="year bold">2011–2016</span>
    </div>
  </div>
</div>
{% endblock %}