---
title: "Resumé – Molly White"
description: "Molly White's resumé"
page_class: "resume"
---

{% extends "layouts/with-nav.njk" %}
{% block content %}
  <div class="resume-block">
    <h2>work</h2>
    <div class="line-with-year">
      <span>
        <h3 class="h4">harvard university library innovation lab</h3>
      </span>
      <span class="year bold">november 2022–present</span>
    </div>
    <div class="resume-sub-block section">
      <span class="bold">fellow</span>
      <div class="resume-description">
      year-long fellowship to continue my research and work surrounding the cryptocurrency and blockchain industries, as
      well as topics including online governance, digital identity, and the future of the web. some of my work with the
      lil has included:
      <ul>
          <li>
          "<a
            href="https://hls.harvard.edu/events/web3-is-going-just-where-a-fireside-chat-with-molly-white-and-jonathan-zittrain/">
            web3 is going just where?</a>" fireside chat with molly white and jonathan zittrain, january 2023
        </li>
          <li>"challenges, opportunities, skepticism on web3" conversation with dr. shlomit wagman and molly white at the
          "web3: what don't we know about it yet?" workshop at harvard university</li>
          <li>"<a href="https://hlsbeyond.law.harvard.edu/events-2022-23/">blockchain solutions to socio-political
            problems: an exploration of current issues in web3</a>" seminar series, march–april 2023</li>
        </ul>
      </div>
    </div>
    <div class="line-with-year">
      <span>
        <h3 class="h4">independent</h3>
      </span>
      <span class="year bold">december 2021–present</span>
    </div>
    <div class="resume-sub-block section">
      <span class="bold">researcher and writer</span>
      <div class="resume-description">
      i founded and maintain the website <i>
          <a href="https://web3isgoinggreat.com/">web3 is going just great</a>
        </i>,
      which highlights examples of how cryptocurrency and web3 projects are failing to live up to their promises. i also
      write a <a href="https://newsletter.mollywhite.net/">popular newsletter</a> that covers topics pertaining to the
      cryptocurrency industry. i have written essays outlining issues with crypto-utopianism and techno-solutionism, and
      my expertise has been featured in publications including <i>the wall street journal</i>, <i>the new york
        times</i>, <i>financial times</i>, and npr. i've also advised various lawmakers, regulators, and other
      governmental officials within and outside of the united states. some of my work has included:
      <ul>
          <li>"<a href="https://www.youtube.com/watch?v=hxbz-bxfcsy">abuse on the blockchain</a>" guest lecture at
          stanford university, march 2022</li>
          <li>"<a href="https://www.youtube.com/watch?v=g0k_gjxujdm">blockchain solutionism</a>" guest lecture at the
          university of texas at austin, september 2022</li>
          <li>"<a href="https://www.youtube.com/watch?v=agsllef7w_g">is web3 bullshit?</a>" talk at web summit, november
          2022
        </li>
          <li>"<a
            href="https://www.theguardian.com/commentisfree/2022/nov/14/why-did-one-of-the-worlds-biggest-cryptocurrency-exchanges-just-collapse">why
            did one of the world's biggest cryptocurrency exchanges just collapse?</a>", published in
          <i>the guardian</i>, november 2022
        </li>
          <li>testimony on "<a href="https://www.bundestag.de/ausschuesse/a23_digitales/anhoerungen/921548-921548">web 3.0
            and the metaverse</a>" to the german bundestag (<a
            href="https://www.bundestag.de/resource/blob/926182/c5d7edf957872ea3b724ad0a7341e3c8/stellungnahme-white-data.pdf">written
            statement</a>), december 2022</li>
        </ul>
      see my other <a href="/speaking">speaking</a>, <a href="https://blog.mollywhite.net/blockchain/">writing</a>, and
      <a href="/press">press coverage</a>.
    </div>
    </div>
    <div class="line-with-year">
      <h3 class="h4">hubspot</h3>
      <span class="year bold">2014–2022</span>
    </div>
    <div class="resume-sub-block">
      <div class="line-with-year">
        <span class="title">tech lead</span>
        <span class="year">november 2017–may 2022</span>
      </div>
      <div class="resume-description">
      i spent more than four years as a tech lead for several teams working on hubspot's developer platform and tooling.
      i took an active development role while also building high-performing teams and collaborating with engineering
      leadership, product management, and product design to lead team direction. throughout, i mentored and worked
      alongside engineers who were anywhere from intern to senior level, and mentored several people into senior
      engineer and tech lead roles.
    </div>
      <div class="line-with-year">
        <span class="title">senior software engineer</span>
        <span class="year">july 2017–november 2017</span>
      </div>
      <div class="line-with-year">
        <span class="title">software engineer</span>
        <span class="year">may 2016–july 2017</span>
      </div>
      <div class="line-with-year">
        <span class="title">software engineering co-op</span>
        <span class="year">may–september 2015, july–december 2014</span>
      </div>
    </div>
  </div>
  <div class="resume-block">
    <h2>recognition</h2>
    <ul>
      <li>
        <i>fast company's</i> "<a href="https://www.fastcompany.com/90775278/the-new-rules-of-creativity-for-2022">2022
        most creative</a>",
      august
      2022</li>
      <li>
        <i>forbes'</i> "<a
        href="https://www.forbes.com/pictures/6377d1f0378f803ad41a9f12/molly-white/?sh=5a6093ff6d9e">2023 30 under
        30</a>", november 2022</li>
      <li>northeastern university's "<a href="https://www.khoury.northeastern.edu/40th/40-for-40-molly-white/">40 for
        40</a>" khoury college of computer sciences honoree, november 2022</li>
      <li>
        <i>coindesk's</i> "<a
        href="https://www.coindesk.com/consensus-magazine/2022/12/05/molly-white-most-influential-2022/">most
        influential
        2022</a>", december 2022</li>
    </ul>
    <h4 class="h5">selected <a href="/press">press</a>
    </h4>
    <ul>
      <li>"<a
        href="https://www.theinformation.com/articles/cryptos-csi-how-molly-white-became-an-absolute-nightmare-for-web3-evangelists">crypto's
        csi: how molly white became an 'absolute nightmare' for web3 evangelists</a>", <i>the information</i>, april
      2022.</li>
      <li>"<a href="https://wapo.st/3n4kkrb">first she documented the alt-right. now she's coming for crypto.</a>",
      <i>the washington post</i>, may 2022.
    </li>
      <li>"<a
        href="https://www.theguardian.com/commentisfree/2022/jul/02/crypto-sceptic-molly-white-could-be-the-new-jk-galbraith-just-much-tougher">crypto-sceptic
        molly white could be the new jk galbraith... just much tougher</a>". <i>the guardian</i>, july 2022.</li>
      <li>"<a
        href="https://www.bostonglobe.com/2022/07/11/business/meet-molly-white-mass-software-engineer-going-after-crypto-industry/">meet
        molly white, the mass. software engineer going after the crypto industry</a>", <i>the boston globe</i>, july
      2022.</li>
      <li>"<a
        href="https://www.fastcompany.com/90762802/molly-white-web3-going-just-great-most-creative-people-2022">molly
        white tried to tell you web3 was not going great before the crypto crash</a>", <i>fastcompany</i>, august
      2022.
    </li>
      <li>"<a href="https://www.cjr.org/the_media_today/cjr_editors_watching_2023.php">what we're watching in 2023</a>",
      <i>columbia journalism review</i>, january 2023.
    </li>
    </ul>
  </div>
  <div class="resume-block">
    <h2>education</h2>
    <div>
      <div class="line-with-year">
        <span>
          <strong>northeastern university</strong> —&nbsp;bachelor's degree in computer science</span>
        <span
        class="year bold">2011–2016</span>
      </div>
    </div>
  </div>
{% endblock %}