---
title: "RSS feeds"
description: "RSS feeds for this website."
page_class: "rss"
path: "/rss"
---

{% extends "layouts/with-nav.njk" %} {% block content %} You can follow this
website in your RSS reader by subscribing to
<b><a href="https://www.mollywhite.net/feed/feed.xml">/feed/feed.xml</a></b
>, which contains everything that shows up in the
<a href="/feed">activity feed</a>. This includes
<a href="/micro">microblog posts</a>, the
<a href="/reading">reading list</a> entries that I choose to post to the feed,
and
<a href="https://www.citationneeded.news/"><i>Citation&nbsp;Needed</i></a>
posts.

<p>
  Alternatively, if you're looking for just a subset of my posts, you can
  subscribe to:
</p>
<div class="feed-group">
  <div>
    <a href="https://www.mollywhite.net/feed/feed.xml">Microblog posts</a>
  </div>
  <div class="description">
    Just the posts from the <a href="/micro">microblog</a>, without any reading
    list posts or newsletter posts.
  </div>
</div>

<div class="feed-group">
  <div>
    <a href="https://www.citationneeded.news/rss/"
      ><i>Citation Needed</i> posts</a
    >
  </div>
  <div class="description">
    Newsletter posts from
    <a href="https://www.citationneeded.news/"><i>Citation Needed</i></a
    >.
  </div>
</div>

<div class="feed-group">
  <div>
    <a href="https://www.mollywhite.net/reading/feed.xml">Reading list posts</a>
  </div>
  <div class="description">
    All of my
    <a href="https://www.mollywhite.net/reading">reading list</a> entries,
    including those that don't show up in the activity feed.
  </div>
</div>

{% endblock %}
