---
title: "Speaking – Molly White"
description: "Talks and lectures by Molly White."
page_class: "speaking"
path: "/speaking"
---

{% extends "layouts/with-nav.njk" %}
{% block content %}
  <h1>Speaking</h1>

  <ul>
    <li>"Popping the Web3 Bubble". South by Southwest, March 14, 2023.</li>
    <li>"<a href="#interrogating">Interrogating the Claims of Crypto: Decentralized, Immutable, Anonymous,
      Transparent</a>". February 8, 2023.</li>
    <li>"Crypto: Innovation and Disruption". Stanford University, January 24, 2023.</li>
    <li>"Web3 – Current trends and political implications". Friedrich-Ebert-Stiftung, January 19, 2023.</li>
    <li>Blockchain and crypto Q&A. Harvard University, November 15, 2022.</li>
    <li>"<a href="#bullshit">Is web3 bullshit?</a>" Web Summit, November 4, 2022.</li>
    <li>"<a href="#whats-next">The future of crypto: What's next for this craze?</a>" (panel). Web Summit, November 4,
    2022.</li>
    <li>"<a href="#solutionism">Blockchain solutionism</a>". University of Texas at Austin, September 21, 2022.</li>
    <li>"<a href="#cryptopia">Crypotopia: Land of the promised vs. virtual</a>" (panel). Crypto Policy Symposium,
    September 6,
    2022.</li>
    <li>"A Skeptical View of Current Cryptocurrency and Web3 Activities". New Hampshire Commission on Cryptocurrencies and
    Digital Assets, August 3, 2022.</li>
    <li>"<a href="#abuse">Abuse on the blockchain</a>". Stanford University, March 7, 2022.</li>
  </ul>

  <hr/>

  <h2 class="h3">"Popping the Web3 Bubble"</h2>
  <div class="subtitle">South by Southwest 2023</div>
  <div class="timestamp">
    <time datetime="2023-03-14">March 14, 2023</time>
  </div>

  <h2 class="h3">
    <a id="interrogating">"Interrogating the Claims of Crypto: Decentralized, Immutable, Anonymous,
    Transparent"</a>
  </h2>
  <div class="subtitle">For a group of policy and regulatory officials</div>
  <div class="timestamp">
    <time datetime="2023-02-08">February 8, 2023</time>
  </div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ycz_Pz5k6Dk" title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen></iframe>

  <h2 class="h3">"Crypto: Innovation and Disruption"</h2>
  <div class="subtitle">Stanford University. GSBGEN 538: Power in Finance.</div>
  <div class="timestamp">
    <time datetime="2023-01-24">January 24, 2023</time>
  </div>

  <h2 class="h3">"Web3 – Current trends and political implications"</h2>
  <div class="subtitle">Friedrich-Ebert-Stiftung Expert Roundtable on Digital Policy.</div>
  <div class="timestamp">
    <time datetime="2023-01-15">January 19, 2023</time>
  </div>

  <h2 class="h3">Blockchain and crypto Q&A</h2>
  <div class="subtitle">Harvard University. IGA-237M: Future Issues in Cyber-Security Policy</div>
  <div class="timestamp">
    <time datetime="2022-11-15">November 15, 2022</time>
  </div>

  <h2 class="h3">
    <a id="bullshit">"Is web3 bullshit?"</a>
  </h2>
  <div class="subtitle">Web Summit 2022</div>
  <div class="timestamp">
    <time datetime="2022-11-04">November 4, 2022</time>
  </div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/AGsllEF7w_g" title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen></iframe>

  <h2 class="h3">
    <a id="whats-next">"The future of crypto: What's next for this craze?"</a> (panel)</h2>
  <div class="subtitle">Web Summit 2022</div>
  <div class="timestamp">
    <time datetime="2022-11-04">November 4, 2022</time>
  </div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/D5p2gt7htDM?start=998"
  title="YouTube video player" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen></iframe>

  <h2 class="h3">
    <a id="solutionism">"Blockchain solutionism"</a>
  </h2>
  <div class="subtitle">University of Texas at Austin</div>
  <div class="timestamp">
    <time datetime="2022-09-21">September 21, 2022</time>
  </div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/G0k_GjxuJDM" title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen></iframe>

  <h2 class="h3">
    <a id="cryptopia">"Crypotopia: Land of the promised vs. virtual"</a> (panel)</h2>
  <div class="subtitle">Crypto Policy Symposium</div>
  <div class="timestamp">
    <time datetime="2022-09-06">September 6, 2022</time>
  </div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ElVHeL3WiI4" title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen></iframe>

  <h2 class="h3">"A Skeptical View of Current Cryptocurrency and Web3 Activities"</h2>
  <div class="subtitle">New Hampshire Commission on Cryptocurrencies and Digital Assets</div>
  <div class="timestamp">
    <time datetime="2022-08-03">August 3, 2022</time>
  </div>

  <h2 class="h3">
    <a id="abuse">"Abuse on the blockchain"</a>
  </h2>
  <div class="subtitle">Stanford University. POLISCI 243C: The Politics of Internet Abuse and CS 152: Trust and Safety
  Engineering</div>
  <div class="timestamp">
    <time datetime="2022-03-07">March 7, 2022.</time>
  </div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/hXBZ-BXfCSY" title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen></iframe>
{% endblock %}