---
title: "Speaking – Molly White"
description: "Talks and lectures by Molly White."
page_class: "speaking"
path: "/speaking"
---

{% extends "layouts/with-nav.njk" %}
{% block content %}
<h1 class="bottom-margin">Speaking</h1>

<div class="index">
  <h2>Index</h2>
  <h3>Guest lectures</h3>
  <ul>
    <li><a href="#malekan">Web3 overview and discussion</a>. Columbia University, April 20, 2023.</li>
    <li><a href="#rushkoff">Web3 overview and discussion</a>. CUNY Queens, April 3, 2023.</li>
    <li>"<a href="#digital-ethics">Blockchains and digital ethics</a>". Northeastern University, March 28, 2023.</li>
    <li><a href="#harvard-history">Blockchain history and technical overview</a>. Harvard University, March 27, 2023.
    </li>
    <li>"<a href="#interrogating">Interrogating the Claims of Crypto: Decentralized, Immutable, Anonymous,
        Transparent</a>". February 8, 2023.</li>
    <li>"<a href="#innovation-disruption">Crypto: Innovation and Disruption</a>". Stanford University, January 24, 2023.
    </li>
    <li>
      <a href="#harvard-qa">Blockchain and crypto Q&A</a>. Harvard University, November 15, 2022.
    </li>
    <li>"<a href="#solutionism">Blockchain solutionism</a>". University of Texas at Austin, September 21, 2022.</li>
    <li>"<a href="#abuse">Abuse on the blockchain</a>". Stanford University, March 7, 2022.</li>
  </ul>
  <h3>Conferences</h3>
  <ul>
    <li>"<a href="#popping-bubble">Popping the Web3 Bubble</a>". South by Southwest, March 14, 2023.</li>
    <li>"<a href="#bullshit">Is web3 bullshit?</a>" Web Summit, November 4, 2022.</li>
    <li>"<a href="#whats-next">The future of crypto: What's next for this craze?</a>" (panel). Web Summit, November 4,


    <li>"<a href="#cryptopia">Crypotopia: Land of the promised vs. virtual</a>" (panel). Crypto Policy Symposium,
      September 6, 2022.</li>
  </ul>
  <h3>Government and policy</h3>
  <ul>
    <li>"<a href="#fes">Web3 – Current trends and political implications</a>". Friedrich-Ebert-Stiftung, January 19,
      2023.</li>
    <li>Testimony at "<a href="#bundestag">Web 3.0 and the Metaverse</a>". German Bundestag, December 14, 2023.</li>
    2022.</li>
    <li>"<a href="#nhccda">A Skeptical View of Current Cryptocurrency and Web3 Activities</a>". New Hampshire Commission
      on Cryptocurrencies
      and
      Digital Assets, August 3, 2022.</li>
  </ul>
</div>

<h2 class="bottom-margin">By date</h2>
<section>
  <h3>
    <a id="malekan">Web3 overview and discussion</a>
  </h3>
  <div class="subtitle">Columbia University. B8462: An Introduction to Blockchain and Cryptocurrencies. (Omid Malekan).
  </div>
  <div class="timestamp">
    <time datetime="2023-03-20">April 20, 2023</time>
  </div>
</section>

<section>
  <h3>
    <a id="rushkoff">Web3 overview and discussion</a>
  </h3>
  <div class="subtitle">Queens College, City University of New York. MEDST 381: Advanced Studies in
    Media: Digital
    Economics: Crypto, NFTs and the Blockchain. (Douglas Rushkoff).</div>
  <div class="timestamp">
    <time datetime="2023-04-03">April 3, 2023</time>
  </div>
</section>

<section>
  <h3>
    <a id="digital-ethics">"Blockchains and digital ethics"</a>
  </h3>
  <div class="subtitle">Northeastern University. PHIL 1145: Technology and Human Values. (Vance Ricks and Meica
    Magnani).</div>
  <div class="timestamp">
    <time datetime="2023-03-28">March 28, 2023</time>
  </div>
</section>

<section>
  <h3>
    <a id="harvard-history">Blockchain history and technical overview</a>
  </h3>
  <div class="subtitle">Harvard University. HLS: Governing Digital Technology. (Jonathan Zittrain).</div>
  <div class="timestamp">
    <time datetime="2023-03-27">March 27, 2023</time>
  </div>
</section>

<section>
  <h3>
    <a id="popping-bubble">Popping the Web3 Bubble"</a>
  </h3>
  <div class="subtitle">South by Southwest 2023</div>
  <div class="links">
    <a href="https://www.youtube.com/watch?v=Y7YAXUWG820">Video</a>
  </div>
  <div class="timestamp">
    <time datetime="2023-03-14">March 14, 2023</time>
  </div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Y7YAXUWG820" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
web-share" allowfullscreen></iframe>
</section>

<section>
  <h3>
    <a id="interrogating">"Interrogating the Claims of Crypto: Decentralized, Immutable, Anonymous, Transparent"</a>
  </h3>
  <div class="subtitle">For a group of policy and regulatory officials.</div>
  <div class="links">
    <a href="https://www.youtube.com/watch?v=ycz_Pz5k6Dk">Video</a>.
  </div>
  <div class="timestamp">
    <time datetime="2023-02-08">February 8, 2023</time>
  </div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ycz_Pz5k6Dk" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
web-share" allowfullscreen></iframe>
</section>

<section>
  <h3>
    <a id="innovation-disruption">"Crypto: Innovation and Disruption"</a>
  </h3>
  <div class="subtitle">Stanford University. GSBGEN 538: Power in Finance. (Heiner Schulz and Anat Admati).</div>
  <div class="timestamp">
    <time datetime="2023-01-24">January 24, 2023</time>
  </div>
</section>

<section>
  <h3>
    <a id="fes">"Web3 – Current trends and political implications"</a>
  </h3>
  <div class="subtitle">Friedrich-Ebert-Stiftung Expert Roundtable on Digital Policy.</div>
  <div class="links">
    <a href="https://mollywhite.net/storage/pdfs/Friedrich-Ebert-Stiftung-roundtable.pdf">Written statement</a>.
  </div>
  <div class="timestamp">
    <time datetime="2023-01-19">January 19, 2023</time>
  </div>
</section>

<section>
  <h3>Testimony at "<a id="bundestag">Web 3.0 and the Metaverse</a>"</h3>
  <div class="subtitle">German Bundestag.</div>
  <div class="links">
    <a href="https://www.bundestag.de/ausschuesse/a23_digitales/Anhoerungen/921548-921548">Hearing
      information</a>, <a href="https://mollywhite.net/storage/pdfs/Bundestag-statement.pdf">written
      testimony</a>, <a href="https://mollywhite.net/storage/pdfs/Bundestag-statement-German.pdf">written
      testimony (German translation)</a>.
  </div>
  <div class="timestamp">
    <time datetime="2022-12-08">December 8, 2022</time>
  </div>
</section>

<section>
  <h3>
    <a id="harvard-qa">Blockchain and crypto Q&amp;A</a>
  </h3>
  <div class="subtitle">Harvard University. IGA-237M: Future Issues in Cyber-Security Policy. (Bruce Schneier).</div>
  <div class="timestamp">
    <time datetime="2022-11-15">November 15, 2022</time>
  </div>
</section>

<section>
  <h3>
    <a id="bullshit">"Is web3 bullshit?"</a>
  </h3>
  <div class="subtitle">Web Summit 2022</div>
  <div class="links">
    <a href="https://www.youtube.com/watch?v=AGsllEF7w_g">Video</a>, <a
      href="https://blog.mollywhite.net/is-web3-bullshit/">transcript</a>.
  </div>
  <div class="timestamp">
    <time datetime="2022-11-04">November 4, 2022</time>
  </div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/AGsllEF7w_g" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
web-share" allowfullscreen></iframe>
</section>

<section>
  <h3>
    <a id="whats-next">"The future of crypto: What's next for this craze?"</a> (panel)
  </h3>
  <div class="subtitle">Web Summit 2022.</div>
  <div class="links">
    <a href="https://www.youtube.com/watch?v=D5p2gt7htDM&t=998s">Video</a>.
  </div>
  <div class="timestamp">
    <time datetime="2022-11-04">November 4, 2022</time>
  </div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/D5p2gt7htDM?start=998" title="YouTube video
player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
web-share" allowfullscreen></iframe>
</section>

<section>
  <h3>
    <a id="solutionism">"Blockchain solutionism"</a>
  </h3>
  <div class="subtitle">University of Texas at Austin. DES: Anti-Solutionism. (Sam Lavigne).</div>
  <div class="links">
    <a href="https://www.youtube.com/watch?v=G0k_GjxuJDM">Video</a>, <a
      href="https://blog.mollywhite.net/blockchain-solutionism-lecture/">transcript</a>, <a
      href="https://docs.google.com/presentation/d/1Z-1IueseKmNClsHFDPqDYONTGCpYg6DiC6Ow1WXe5Ik/edit?usp=sharing">slides</a>.
  </div>
  <div class="timestamp">
    <time datetime="2022-09-21">September 21, 2022</time>
  </div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/G0k_GjxuJDM" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
  web-share" allowfullscreen></iframe>
</section>

<section>
  <h3>
    <a id="cryptopia">"Crypotopia: Land of the promised vs. virtual"</a> (panel)
  </h3>
  <div class="subtitle">Crypto Policy Symposium.</div>
  <div class="links">
    <a href="https://www.youtube.com/watch?v=ElVHeL3WiI4">Video</a>.
  </div>
  <div class="timestamp">
    <time datetime="2022-09-06">September 6, 2022</time>
  </div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ElVHeL3WiI4" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
  web-share" allowfullscreen></iframe>
</section>

<section>
  <h3>
    <a id="nhccda">"A Skeptical View of Current Cryptocurrency and Web3 Activities"</a>
  </h3>
  <div class="subtitle">New Hampshire Commission on Cryptocurrencies and Digital Assets.</div>
  <div class="links">
    <a
      href="https://www.governor.nh.gov/sites/g/files/ehbemt336/files/inline-documents/sonh/cryptocurrencie-report.pdf">Final
      report</a> by the Commission.
  </div>
  <div class="timestamp">
    <time datetime="2022-08-03">August 3, 2022</time>
  </div>
</section>

<section>
  <h3>
    <a id="abuse">"Abuse on the blockchain"</a>
  </h3>
  <div class="subtitle">Stanford University. POLISCI 243C: The Politics of Internet Abuse and CS 152: Trust and Safety
    Engineering. (Shelby Grossman and Alex Stamos).
  </div>
  <div class="links">
    <a href="https://www.youtube.com/watch?v=hXBZ-BXfCSY">Video</a>,
    <a
      href="https://docs.google.com/presentation/d/1AlJB7xTyHSpt1-2OnAhnpR7bmSddOwxhwjQLuklAD-8/edit?usp=sharing">slides</a>,
    <a href="https://blog.mollywhite.net/abuse-on-the-blockchain-lecture/">transcript</a>.
  </div>
  <div class="timestamp">
    <time datetime="2022-03-07">March 7, 2022.</time>
  </div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/hXBZ-BXfCSY" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
  web-share" allowfullscreen></iframe>
</section>
{% endblock %}