---
title: "Support – Molly White"
description: "Support Molly White's work."
page_class: "support"
path: "/support"
---

{% extends "layouts/with-nav.njk" %}
{% block content %}
<h1>Support my work</h1>
<p>The best way to support my work is by signing up for a <a href="https://newsletter.mollywhite.net/subscribe">paid
    newsletter subscription</a> on Substack, where I also have
  <a href="https://newsletter.mollywhite.net/p/pay-what-you-want">pay-what-you-want options</a>.
</p>
<p>If you don't want to receive the newsletter, or aren't keen on recurring support, I also have:</p>
<ul>
  <li><a href="https://account.venmo.com/u/MollyWhite">Venmo</li>
  </li>
  <li><a href="https://cash.app/$molly0xFFF">CashApp</a></li>
  <li><a href="https://www.paypal.com/donate/?business=3RM66P9NEQNFA&no_recurring=0&currency_code=USD">PayPal</a></li>
</ul>

{% endblock %}