---
title: "Verify – Molly White"
description: "Verify Molly White's online identity."
page_class: "verify"
path: "/verify"
---

{% extends "layouts/with-nav.njk" %}
{% block content %}
<h1>Verify</h1>
<p>This page serves as the system of record for my online identity. I control the following personal accounts:</p>
{% include "social.njk" %}
<p>I also own and control the domains mollywhite.net, molly.wiki, and molly.computer.</p>
<h2 class="h3"><i>Web3 is Going Great</i></h2>
<p>For my <i>Web3 is Going Great</i> project, I run the Twitter account <a
    href="https://twitter.com/web3isgreat">web3isgreat</a> and the Mastodon account <a
    href="https://indieweb.social/@web3isgreat">@web3isgreat@indieweb.social</a>.</p>
<p>I own and control the domains web3isgoinggreat.com (primary) and the redirects web3isgoingjustgreat.com,
  web3isgreat.com, and w3igg.com.</p>
{% endblock %}