---
title: "Verify – Molly White"
description: "Verify Molly White's online identity."
page_class: "verify"
path: "/verify"
---

{% extends "layouts/with-nav.njk" %}
{% block content %}
  <h1>Verify</h1>
  <p>This page serves as the system of record for my online identity. I control the following personal accounts:</p>
  <ul>
    {% import "socialMacro.njk" as socialMacro %}
    {% for link in verifyLinks %}
      {{socialMacro.socialLink(link)}}
    {% endfor %}
  </ul>
  <p>I also own and control the domains mollywhite.net, molly.wiki, and molly.computer.</p>
  <h2>
    <i>Web3 is Going Great</i>
  </h2>
  <p>For my <i>Web3 is Going Great</i> project:</p>
  {% for link in w3iggSocialLinks %}
    {{socialMacro.socialLink(link)}}
  {% endfor %}
  <p>I own and control the domains web3isgoinggreat.com (primary) and the redirects web3isgoingjustgreat.com,
  web3isgreat.com, and w3igg.com.</p>
  <hr/>
  <p>
    <sup>
      <a id="#footnote1">[1]</a>
    </sup> These are private accounts, and I don't accept friend/follow requests from
  people I don't know personally. If you want to follow me on social media, feel free any of the public accounts here.
</p>
{% endblock %}