@font-face {
  font-family: SourceSerif;
  src: url("../fonts/SourceSerif4-Regular.otf.woff2") format("woff2"),
    url("../fonts/SourceSerif4-Regular.otf.woff") format("woff"),
    url("../fonts/SourceSerif4-Regular.ttf") format("ttf");
}

@font-face {
  font-family: SourceSerif;
  src: url("../fonts/SourceSerif4-Bold.otf.woff2") format("woff2"),
    url("../fonts/SourceSerif4-Bold.otf.woff") format("woff"),
    url("../fonts/SourceSerif4-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: SourceSerif;
  src: url("../fonts/SourceSerif4-It.otf.woff2") format("woff2"),
    url("../fonts/SourceSerif4-It.otf.woff") format("woff"),
    url("../fonts/SourceSerif4-It.ttf") format("ttf");
  font-style: italic;
}

@font-face {
  font-family: SourceSerif;
  src: url("../fonts/SourceSerif4-BoldIt.otf.woff2") format("woff2"),
    url("../fonts/SourceSerif4-BoldIt.otf.woff") format("woff"),
    url("../fonts/SourceSerif4-BoldIt.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: SourceSans;
  src: url("../fonts/SourceSans3-Regular.otf.woff2") format("woff2"),
    url("../fonts/SourceSans3-Regular.otf.woff") format("woff"),
    url("../fonts/SourceSans3-Regular.ttf") format("ttf");
}

@font-face {
  font-family: SourceSans;
  src: url("../fonts/SourceSans3-Bold.otf.woff2") format("woff2"),
    url("../fonts/SourceSans3-Bold.otf.woff") format("woff"),
    url("../fonts/SourceSans3-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: SourceSans;
  src: url("../fonts/SourceSans3-It.otf.woff2") format("woff2"),
    url("../fonts/SourceSans3-It.otf.woff") format("woff"),
    url("../fonts/SourceSans3-It.ttf") format("ttf");
  font-style: italic;
}

@font-face {
  font-family: SourceSans;
  src: url("../fonts/SourceSans3-BoldIt.otf.woff2") format("woff2"),
    url("../fonts/SourceSans3-BoldIt.otf.woff") format("woff"),
    url("../fonts/SourceSans3-BoldIt.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: SourceCode;
  src: url("../fonts/SourceCodePro-Regular.otf.woff2") format("woff2"),
    url("../fonts/SourceCodePro-Regular.otf.woff") format("woff"),
    url("../fonts/SourceCodePro-Regular.ttf") format("ttf");
}
