:root {
  --bg-color: #ffffff;
  --blockquote-quote-color: #888888;
  --note-background-color: #eeeeee;
  --hr-color: #dddddd;
  --accent-color-purple: #5948a4;
  --accent-color-purple-background: #ddd9ee;
  --accent-color-purple-background-hover: #b4abda;
  --table-border-color: #cccccc;
  --code-background-color: #f9f9f9;
  --image-light-background-color: none;
  --highlight-background-color: #dddddd;
  --button-color: #efefef;
  --button-color-hover: #dddddd;

  --main-text-color: #444444;
  --secondary-text-color: #666666;
  --link-text-hover-color: #888888;
  --timestamp-color: #707070;
  --note-text-color: #707070;
  --note-text-hover-color: var(--link-text-hover-color);

  --review-highlight-color: #fff589;
  --review-highlight-color-deselected: #fff58980;
  --review-addition-color: #e4ffe0;
  --review-addition-color-highlighted: #ebffb8;
  --review-note-text-color: #666666;
  --review-annotation-section-background-color: #f0f0f0;
  --review-annotation-selected-background-color: #fffeef;
  --review-annotation-selected-border-color: #999999;
  --review-commenter-text-color: #999999;

  --serif-fonts: "SourceSerif", "Times New Roman", serif;
  --sans-serif-fonts: "SansSerif", "Helvetica", sans-serif;
  --monospace-fonts: "SourceCode", "Menlo", "Monaco", "Courier New", monospace;

  --image-underline-black: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH+EUNyZWF0ZWQgd2l0aCBHSU1QACwAAAAAAQABAAACAkQBADs=");
  --image-underline-hover-black: url("data:image/gif;base64,R0lGODlhAQABAIABAERERP///yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAAEALAAAAAABAAEAAAICRAEAOw==");
  --image-underline-white: url("data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAAEALAAAAAABAAEAAAICRAEAOw==");
  --image-underline-hover-white: url("data:image/gif;base64,R0lGODlhAQABAIABALm5uf///yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAAEALAAAAAABAAEAAAICRAEAOw==");

  @media (prefers-color-scheme: dark) {
    --bg-color: #161616;
    --note-background-color: #333333;
    --hr-color: #666666;
    --accent-color-purple: #b4abda;
    --accent-color-purple-background: #a79dd0;
    --accent-color-purple-background-hover: #5948a4;
    --code-background-color: #2c2c2c;
    --image-light-background-color: #dddddd;
    --highlight-background-color: #666666;
    --button-color: #161616;
    --button-color-hover: #333333;

    --main-text-color: #f1f1f1;
    --secondary-text-color: #aaaaaa;
    --link-text-hover-color: #bbbbbb;
    --note-text-color: #aaaaaa;
    --note-text-hover-color: #cccccc;

    --review-highlight-color: #9d8700;
    --review-highlight-color-deselected: #786a16;
    --review-annotation-section-background-color: #222222;
    --review-annotation-selected-background-color: #444444;
    --review-annotation-selected-border-color: #999999;

    .bw-icon {
      filter: invert(100%);
    }

    a {
      background-image: var(--image-underline-white);

      &:hover {
        background-image: var(--image-underline-hover-white);
      }
    }
  }
}

[data-theme="dark"] {
  --bg-color: #161616;
  --note-background-color: #333333;
  --hr-color: #666666;
  --accent-color-purple: #b4abda;
  --accent-color-purple-background: #a79dd0;
  --accent-color-purple-background-hover: #5948a4;
  --code-background-color: #2c2c2c;
  --image-light-background-color: #dddddd;
  --highlight-background-color: #666666;
  --button-color: #161616;
  --button-color-hover: #444444;

  --main-text-color: #f1f1f1;
  --link-text-hover-color: #bbbbbb;
  --timestamp-color: #aaaaaa;
  --note-text-color: #aaaaaa;
  --note-text-hover-color: #cccccc;

  .bw-icon {
    filter: invert(100%);
  }
}
