@import "normalize.css";
@import "_fonts.scss";
@import "_tokens.scss";
@import "nav.scss";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--main-text-color);
  font-family: var(--serif-fonts);
  font-size: 1.25rem;
  font-feature-settings: "kern" 1, "liga" 1;
  font-optical-sizing: auto;
  line-height: 1.75rem;
}

h1.title {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2.5rem;
  color: var(--accent-color-purple);
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.6rem;
}

h3,
.h3 {
  font-size: 1.3rem;
}

h4,
.h4 {
  font-size: 1.2rem;
}

h5,
.h5 {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;

  &:hover {
    color: var(--link-text-hover-color);
  }

  // Anchors
  &:not([href]) {
    text-decoration: none;
    background: none;

    &:hover {
      color: var(--main-text-color);
    }
  }
}

.feed,
.blogroll {
  a[href^="https://en.wikipedia.org/"]:not(.cdx-social-link)::after
  {
    background-image: url(/assets/images/wikipedia.svg);
    background-repeat: no-repeat;
    background-size: 0.8em;
    content: "    ";
    white-space: pre-wrap;
    background-position: right 0 bottom 40%;
  }
}

.in-text-image img {
  width: 100%;
  max-width: 30rem;
}

.in-text-image.wide img {
  max-width: unset;
}

.in-text-image.bordered img {
  border: 1px solid var(--hr-color);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--hr-color);
}

.page-container {
  max-width: 80rem;
  margin: 5rem auto 3rem auto;
  padding: 1rem;
  display: flex;

  main {
    flex: 1;
  }
}

.mini-nav {
  padding: 0;
  margin-bottom: 2rem;
}

// Helpers
.bold {
  font-weight: bold;
}

.no-ligatures {
  font-variant-ligatures: none;
}

.no-wrap {
  white-space: nowrap;
}

.bottom-margin {
  margin-bottom: 1rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.llm {
  color: var(--bg-color);
  font-size: 0.01em;
}

// RESUME
.resume {
  .resume-block {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .resume-sub-block {
    margin-left: 2rem;
  }

  h2 {
    color: var(--accent-color-purple);
    margin-bottom: 0.5rem;
  }

  .line-with-year {
    display: flex;
    justify-content: space-between;

    h3 {
      display: inline;
    }

    .title {
      font-weight: bold;
    }

    .year {
      font-style: italic;
    }
  }

  .resume-description {
    margin-left: 2rem;
  }

  .section {
    margin-bottom: 2rem;
  }

  ul {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
  }
}

// SPEAKING
.speaking {
  .index {
    background-color: var(--note-background-color);
    border: 1px solid var(--main-text-color);
    padding: 1.5rem;
    margin-bottom: 3rem;
  }

  section {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--hr-color);
  }

  .timestamp {
    font-size: 1rem;
  }

  .links {
    font-style: italic;
  }
}

// PROJECTS
.projects {
  .contents-block {
    display: flex;
    margin-top: 4rem;
  }

  .image img {
    max-width: 25rem;
    margin-left: 1rem;
  }
}

// FAQ
.faq {
  .faq-link {
    margin-right: 0.5rem;
  }

  .faq-accordions {
    margin: 0.625rem;
  }

  .accordion {
    margin: 0.625rem 0;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .accordion-panel {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;

    .faq-answer {
      border-left: 1px solid var(--table-border-color);
      padding-left: 0.625rem;
    }
  }
}

// BLOGROLL
.blogroll {
  ul.blog-list {
    width: 100%;
    max-width: 35em;
    list-style: none;
    padding: 0;

    li {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &.hidden {
        display: none;
      }
    }
  }

  .blog-tags {
    text-align: right;

    .blog-tag {
      color: var(--note-text-color);
      font-size: 80%;
      font-style: italic;

      &:before {
        content: "#";
      }
    }
  }

  .hide-toggle {
    font-size: 80%;
  }
}

// LINKTREE
.linktree {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  * {
    box-sizing: border-box;
  }

  .linktree-content {
    max-width: 42rem;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 0.75rem;

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h1 {
        text-align: center;
        margin-bottom: 2rem;
      }

      a.linktree-link {
        display: block;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        color: var(--main-text-color);
        text-decoration: none;
        line-height: 2.5rem;
        margin-bottom: 1rem;
        border: 2px solid var(--main-text-color);
        padding: 0.25rem;

        &:hover {
          color: var(--main-text-color);
          box-shadow: 4px 4px 0 0 var(--main-text-color);
        }
      }

      .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        a {
          background: none;
          padding: 0 0.625rem;
          font-size: 120%;
        }
      }
    }
  }
}

// ATTRIBUTION
.attribution {
  h1,
  h2 {
    margin-bottom: 1rem;
  }
}

// RESPONSIVE
@media screen and (max-width: 1024px) {
  .projects {
    .contents-block {
      flex-direction: column;
    }

    .image img {
      margin-left: 0;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .page-container {
    margin-top: 0;
    padding: 0;
    flex-direction: column;
  }

  main {
    padding: 0 1rem;
  }

  h1.title {
    margin-top: 1rem;
    text-align: center;
  }
}
