@import "normalize.css";
@import "_fonts.scss";
@import "_tokens.scss";

body {
  background-color: var(--bg-color);
  color: var(--main-text-color);
  font-family: SourceSerif, "Times New Roman", serif;
  font-feature-settings: "kern" 1, "liga" 1;
  font-optical-sizing: auto;
}
