nav {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  padding: 0 4rem 0 2rem;
  font-size: 1rem;
  line-height: 1rem;

  .logo-image {
    max-width: 100%;
    border: 3px double var(--accent-color-purple);
    padding: 0.5rem;

    img {
      width: 100%;
      object-fit: contain;
      display: block;
    }
  }

  .logo-text {
    font-weight: normal;
    text-align: center;
    margin: 0.75rem 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 1rem 0;

    li {
      padding: 0.25rem 0rem 0.25rem 0.5rem;

      &.nav-header {
        padding-left: 0;
        font-weight: 700;
        font-variant: small-caps;
      }
    }
  }

  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  nav {
    align-items: center;
    padding: 0;
    max-width: none;
    width: 100%;

    .logo-image {
      margin: 0 auto;

      img {
        max-height: 18rem;
      }
    }

    .menu-toggle {
      display: block;
      padding: 0.5rem;
      margin: 1rem 0;
      border: 1px solid var(--main-text-color);
      background-color: var(--bg-color);
      align-self: center;
    }

    .nav-links {
      text-align: center;

      &.collapsed {
        display: none;
      }
    }
  }
}
